<% content_for :title, "Casting - Auditions" %>

<div class="w-full mb-10">
  <%= render partial: "shared/notice", locals: { notice: notice } %>
  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Sign-ups", manage_production_signups_path(@production)],
      ["Auditions", manage_production_signups_auditions_path(@production)]
    ],
    text: "Casting",
    links: []
  } %>

  <%= render partial: "lifecycle_panel", locals: { current_step: :communicate } %>

  <%= render partial: "archived_banner" %>

  <% if @audition_cycle.blank? %>
    <div class="mb-5 text-gray-500 text-sm">
      You aren't currently offering auditions for <%= @production.name %>
    </div>
  <% else %>
    <% audition_cycle = @audition_cycle %>

    <%# Check if any notifications have been sent %>
    <% has_sent_notifications = audition_cycle.casting_finalized_at.present? %>
    <% notified_stages = @cast_assignment_stages.select(&:finalized?) %>
    <% pending_stages = @cast_assignment_stages.select(&:pending?) %>

    <%= render "casting_changes", has_sent_notifications: has_sent_notifications, notified_stages: notified_stages, pending_stages: pending_stages %>
    <%= render "finalize_notify", audition_cycle: audition_cycle, has_sent_notifications: has_sent_notifications, notified_stages: notified_stages %>

  <% end %>
</div>
