<div data-controller="cast-membership-card">
    <div class="" data-cast-membership-card-target="card">

        <% talent_pool = production.effective_talent_pool %>
        <% is_member = talent_pool && person.talent_pool_memberships.exists?(talent_pool: talent_pool) %>
        <% if is_member %>
            <div class="grid grid-cols-4 gap-1 w-full">
                <div class="flex flex-col items-center p-3 border border-gray-200 rounded-lg hover:border-gray-400 transition-all relative group">
                    <span class="font-bold text-lg text-center"><%= talent_pool.name %></span>
                    <% if production.uses_shared_pool? %>
                      <span class="text-xs text-gray-500">(shared pool)</span>
                    <% end %>

                    <% if current_user_can_manage?(production) %>
                        <div class="flex justify-center space-x-2 mt-4">
                            <a href="<%= remove_from_cast_manage_person_path(person, talent_pool_id: talent_pool.id) %>"
                                data-action="cast-membership-card#remove"
                                data-person-id="<%= person.id %>"
                                data-cast-id="<%= talent_pool.id %>"
                                data-turbo-prefetch="false"
                                class="inline-block px-2 py-1 bg-pink-500 text-white rounded hover:bg-pink-600 text-sm transition cursor-pointer"
                            >
                                Remove
                            </a>
                        </div>
                    <% end %>
                </div>
            </div>
        <% else %>
            <div class="text-sm text-gray-500 mt-1">
                Not currently cast in <%= production.name %>
            </div>
            <% if current_user_can_manage?(production) && talent_pool %>
                <div class="w-full mt-1">
                    <%= form_with url: add_to_cast_manage_person_path(production, person), method: :post, html: { class: "flex gap-2 items-center", data: { action: "cast-membership-card#add", cast_membership_card_target: "form" } } do |f| %>
                        <%= hidden_field_tag :talent_pool_id, talent_pool.id %>
                        <%= hidden_field_tag :person_id, person.id %>
                        <%= render "shared/button", text: "Add to Talent Pool", variant: "primary", size: "small", type: :submit %>
                    <% end %>
                </div>
            <% end %>
        <% end %>
    </div>
</div>