<% content_for :title, "Edit Talent Pool" %>

<div class="w-full">
  <%= render partial: "shared/notice", locals: { notice: notice } %>
  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Casting & Roles", manage_production_casting_path(@production)],
      ["Talent Pools", manage_production_talent_pools_path(@production)]
    ],
    text: "Rename #{@talent_pool.name}",
    links: []
  } %>

  <%= form_with(model: [:manage, @production, @talent_pool], class: "contents") do |form| %>

    <div class="my-5">
        <% if @talent_pool.errors[:name].none? %>
            <%= form.label :name, "Talent Pool Name" %>
        <% else %>
            <%= form.label :name, "Talent Pool Name is required", class: "text-pink-600"  %>
        <% end %>
      <span class="text-sm text-gray-500"> (e.g. "Main Cast", "Understudies")</span>
     <%= form.text_field :name, class: ["block shadow-sm rounded-lg border px-3 py-2 mt-2 w-full", {"border-gray-400": @talent_pool.errors[:name].none?, "border-pink-500": @talent_pool.errors[:name].any?}] %>
    </div>

    <div class="border-t border-gray-200 pt-5 mt-5">
      <%= render "shared/button", text: "Rename Pool", variant: "primary", size: "medium", type: :submit %>
      <%= render "shared/button", text: "Back", variant: "ghost-cancel", size: "medium", path: "javascript:history.back()", type: :button %>
    </div>

  <% end %>

</div>
