<div class="flex flex-col items-center mt-10">
    <img src="<%= asset_path('cocoscout.png') %>" alt="CocoScout" class="w-48 object-contain select-none pointer-events-none" />
</div>

<div class="max-w-lg mx-auto p-6 bg-white rounded shadow">
  <h1 class="text-xl font-bold mb-4 text-center">Forgot your password?</h1>

  <% if @reset_link_expired_or_invalid %>
    <div class="text-pink-500">
      Reset link expired or invalid. Please try again.
    </div>
  <% end %>

  <%= form_with url: handle_password_path, class: "contents" do |form| %>
    <div class="my-5">
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "block shadow-sm rounded-md border border-gray-400 px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="col-span-6 sm:flex sm:items-center ">
      <%= form.submit "Email reset instructions", class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-pink-500 hover:bg-pink-600 text-white inline-block font-medium cursor-pointer" %>
      <%= link_to "Back", "javascript:history.back()", class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-200 hover:bg-gray-300 text-gray-700 inline-block font-medium cursor-pointer ml-2" %>
    </div>
  <% end %>

</div>

<div class="flex flex-col items-center mt-5">
    <h1 class="p-5 pb-3 text-3xl coustard-regular text-pink-500">CocoScout</h1>
</div>