<div class="flex flex-col items-center mt-10">
    <img src="<%= asset_path('cocoscout.png') %>" alt="CocoScout" class="w-48 object-contain select-none pointer-events-none" />
</div>

<div class="max-w-lg mx-auto p-6 bg-white rounded shadow">
  <h1 class="text-xl font-bold mb-4 text-center">Sign In</h1>

  <% if @error %>
    <div class="text-pink-500">
      Please enter a valid email address and password.
    </div>
  <% end %>

  <% if @user_exists_error %>
    <div class="text-pink-500">
      You already have a CocoScout account. Please sign in to continue.
    </div>
  <% end %>

  <% if @password_reset_instructions_sent %>
    <div class="text-pink-500">
      Password reset instructions have been sent to your email address.
    </div>
  <% end %>

  <% if @password_successfully_reset %>
    <div class="text-pink-500">
      Password has been successfully reset. You can now sign in with your new password.
    </div>
  <% end %>

  <%= form_with url: handle_signin_path, class: "contents" do |form| %>
    <div class="my-5">
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "email", placeholder: "Enter your email address", value: (@email_address || params[:email_address]), class: "block shadow-sm rounded-md border border-gray-400 focus:outline-pink-500 px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "block shadow-sm rounded-md border border-gray-400 focus:outline-pink-500 px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
      <%= form.submit "Sign In", class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-pink-500 hover:bg-pink-600 text-white inline-block font-medium cursor-pointer" %>
    </div>

    <div class="mt-2">
      <%= link_to "Forgot your Password?", password_path, class: "inline text-pink-500 underline text-xs mt-4" %>
    </div>
  <% end %>

</div>

<div class="w-full text-center mx-auto p-6">
    New to CocoScout? <%= link_to "Create an Account", signup_path, class: "text-pink-500 underline" %>
</div>

<div class="flex flex-col items-center mt-5">
    <h1 class="p-5 pb-3 text-3xl coustard-regular text-pink-500">CocoScout</h1>
</div>