<% content_for :title, "People" %>

<div class="w-full">

  <%= render partial: "shared/notice", locals: { notice: notice } %>

  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [],
    text: "People",
    links: [
      { text: "Create/Invite a Person", path: new_person_path }
    ]
  } %>

  <% if @people.any? %>

    <div class="flex w-full space-x-2 mb-4">

      <div class="flex flex-1 space-x-2">
        <!-- Left: Sorting links -->
        <%= link_to "A→Z",
                people_path(order: "alphabetical"),
                data: { turbo_prefetch: false },
                class: "px-3 py-1 rounded-md border text-sm #{(@order == "alphabetical") ? 'bg-pink-500 text-white border-pink-500' : 'bg-white text-gray-700 border-gray-200'}"
        %>
        <%= link_to "Newest",
                people_path(order: "newest"),
                data: { turbo_prefetch: false },
                class: "px-3 py-1 rounded-md border text-sm #{(@order == "newest") ? 'bg-pink-500 text-white border-pink-500' : 'bg-white text-gray-700 border-gray-200'}"
        %>
        <%= link_to "Oldest",
                people_path(order: "oldest"),
                data: { turbo_prefetch: false },
                class: "px-3 py-1 rounded-md border text-sm #{(@order == "oldest") ? 'bg-pink-500 text-white border-pink-500' : 'bg-white text-gray-700 border-gray-200'}"
        %>
      </div>
      <div class="flex space-x-2">
        <!-- Right: Filter links -->
        <%= link_to "Cast Members",
                people_path(filter: "cast-members"),
                class: "px-3 py-1 rounded-md border text-sm #{@filter == 'cast-members' ? 'bg-pink-500 text-white border-pink-500' : 'bg-white text-gray-700 border-gray-200'}"
        %>
        <%= link_to "Everyone",
                people_path(filter: "everyone"),
                class: "px-3 py-1 rounded-md border text-sm #{@filter == 'everyone' ? 'bg-pink-500 text-white border-pink-500' : 'bg-white text-gray-700 border-gray-200'}"
        %>
      </div>

    </div>

    <div class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8 gap-1 w-full mt-4">
      <% @people.each do |person| %>

        <%= link_to person_path(person) do %>
          <div class="flex flex-col items-center p-3 border border-gray-200 rounded-lg hover:border-gray-400 transition-all relative group cursor-pointer" >
            <% if person.headshot.present? %>
                <%= image_tag person.headshot.variant(:thumb), alt: person.name, class: "w-16 h-16 rounded-lg object-cover mb-1" %>
            <% else %>
                <div class="w-16 h-16 rounded-lg bg-gray-100 flex items-center justify-center mb-1 text-black font-bold">
                    <%= person.initials %>
                </div>
            <% end %>
            <span class="font-medium text-sm text-center"><%= person.name.truncate(20, omission: '...') %></span>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div class="text-center my-10">No people found.</div>
  <% end %>

</div>
