<% content_for :title, "Add Person" %>

<div class="w-full">

  <%= render partial: "shared/notice", locals: { notice: notice } %>

  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Talent", people_path]
    ],
    text: "Invite a Talent",
    links: []
  } %>

  <div class="w-full max-w-4xl" >

    <div class="mb-5 text-gray-500 text-sm">
      When you a Invite a Talent, a blank profile is created for them with a temporary password.
      When they log in they can then click "Forgot Password" and reset their password.
    </div>

    <%= form_with(model: @person, class: "contents") do |person_form| %>

      <div>
        <div class="mb-5">
          <% if @user_exists_error %>
              <%= person_form.label :email, "Email is already used by a different Person", class: "text-pink-600" %>
          <% elsif @person.errors[:email].none? %>
              <%= person_form.label :email, "Email" %>
          <% else %>
              <%= person_form.label :email, "Email is required", class: "text-pink-600"  %>
          <% end %>
          <%= person_form.email_field :email, class: ["block shadow-sm rounded-lg border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-pink-500": @person.errors[:email].none?, "border-pink-500 focus:outline-pink-500": @person.errors[:email].any?}] %>
        </div>

        <div class="mb-5">
          <% if @person.errors[:name].none? %>
              <%= person_form.label :name, "Name" %>
          <% else %>
              <%= person_form.label :name, "Name is required", class: "text-pink-600"  %>
          <% end %>
          <%= person_form.text_field :name, class: ["block shadow-sm rounded-lg border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-pink-500": @person.errors[:name].none?, "border-pink-500 focus:outline-pink-500": @person.errors[:name].any?}] %>
        </div>
    </div>

</div>


      <div class="w-full border-t border-gray-200 pt-5 my-5">
        <%= person_form.submit "Invite Talent", class: "sm:w-auto rounded-lg px-3.5 py-2.5 text-white bg-pink-500 hover:bg-pink-600 focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 inline-block font-medium cursor-pointer inline-block" %>
        <%= link_to "Back", 'javascript:history.back()', class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-lg px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
      </div>

    <% end %>
  </div>

</div>
