<% content_for :title, "Availability" %>

<div class="w-full" data-controller="availability">

  <%= render partial: "shared/notice", locals: { notice: notice } %>

  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [],
    text: "My Availability",
    links: [
      {
        text: "Calendar",
        path: my_availability_calendar_path,
        icon: "calendar"
      }
    ]
  } %>

  <% if @has_any_productions %>

  <%= render "shared/filters/filter_bar",
      toggle_label: "Filters & View Options",
      filter_groups: [
        {
          label: "View",
          filters: [
            { text: "Awaiting My Response", path: my_availability_path(filter: 'no_response', entity: @entity_filter.join(',')), active: @filter == 'no_response' },
            { text: "All Shows", path: my_availability_path(filter: 'all', entity: @entity_filter.join(',')), active: @filter == 'all' },
            { text: "By Production", path: my_availability_path(filter: 'by_production', entity: @entity_filter.join(',')), active: @filter == 'by_production' },
            { text: "By Cast Member", path: my_availability_path(filter: 'by_entity', entity: @entity_filter.join(',')), active: @filter == 'by_entity' }
          ]
        },
        { separator: true },
        {
          partial: "shared/filters/entity_filter",
          locals: {
            path_helper: method(:my_availability_path),
            person: @person,
            groups: @groups,
            entity_filter: @entity_filter,
            label: "Include",
            filter: @filter
          }
        }
      ]
  %>

  <% if @filter == 'no_response' %>
    <% if @no_response_shows.any? %>
      <div class="space-y-1">
        <% @no_response_shows.each do |show| %>
          <% @show_entities[show.id]&.each do |entity_info| %>
            <% entity_key = entity_info[:type] == "person" ? "person" : "group_#{entity_info[:entity].id}" %>
            <% availability = @entity_data[entity_key][:availabilities][show.id] %>
            <%= render partial: "shared/show_row", locals: {
              show: show,
              show_location: true,
              show_production: true,
              availability: availability,
              entity_key: entity_key,
              entity: entity_info[:entity],
              show_entity_headshots: @groups.any?
            } %>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <p class="text-gray-500 text-sm">You're up to date on your show availabilities</p>
    <% end %>

  <% elsif @filter == 'all' %>
    <% if @all_shows.any? %>
      <div class="space-y-1">
        <% @all_shows.each do |show| %>
          <% @show_entities[show.id]&.each do |entity_info| %>
            <% entity_key = entity_info[:type] == "person" ? "person" : "group_#{entity_info[:entity].id}" %>
            <% availability = @entity_data[entity_key][:availabilities][show.id] %>
            <%= render partial: "shared/show_row", locals: {
              show: show,
              show_location: true,
              show_production: true,
              availability: availability,
              entity_key: entity_key,
              entity: entity_info[:entity],
              show_entity_headshots: @groups.any?
            } %>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <p class="text-gray-500 text-sm">You don't have any upcoming shows</p>
    <% end %>

  <% elsif @filter == 'by_production' %>
        <% if @productions.any? %>
        <% @productions.each do |production| %>
          <div class="mb-8">

            <%= render partial: "shared/top_menu", locals: {
              breadcrumbs: [],
              text: production.name,
              links: []
            } %>

            <% if @shows_by_production[production].any? %>
              <div class="space-y-1">
                <% @shows_by_production[production].each do |show| %>
                  <% @show_entities[show.id]&.each do |entity_info| %>
                    <% entity_key = entity_info[:type] == "person" ? "person" : "group_#{entity_info[:entity].id}" %>
                    <% availability = @entity_data[entity_key][:availabilities][show.id] %>
                    <%= render partial: "shared/show_row", locals: {
                      show: show,
                      show_location: true,
                      availability: availability,
                      entity_key: entity_key,
                      entity: entity_info[:entity],
                      show_entity_headshots: @groups.any?
                    } %>
                  <% end %>
                <% end %>
              </div>
            <% else %>
              <p class="text-gray-500 text-sm"><%= production.name %> doesn't have any upcoming events</p>
            <% end %>
          </div>
        <% end %>
      <% end %>

  <% elsif @filter == 'by_entity' %>
      <% @entity_data.each do |entity_key, data| %>
        <div class="mb-8">

          <%= render partial: "shared/top_menu", locals: {
            breadcrumbs: [],
            text: data[:entity].name,
            links: []
          } %>

          <% if data[:shows].any? %>
            <div class="space-y-1">
              <% data[:shows].each do |show| %>
                <% availability = data[:availabilities][show.id] %>
                <%= render partial: "shared/show_row", locals: {
                  show: show,
                  show_location: true,
                  show_production: true,
                  availability: availability,
                  entity_key: entity_key,
                  entity: data[:entity],
                  show_entity_headshots: @groups.any?
                } %>
              <% end %>
            </div>
          <% else %>
            <p class="text-gray-500 text-sm"><%= data[:entity].name %> doesn't have any upcoming shows</p>
          <% end %>
        </div>
      <% end %>

  <% end %>

  <% else %>
    <p class="text-gray-500 text-sm">You aren't a cast member of any shows</p>
  <% end %>

</div>
