<div data-controller="cast-membership-card">
    <div class="" data-cast-membership-card-target="card">

        <% casts = person.casts.where(production: production) %>
        <% all_casts = production.casts.to_a %>
        <% available_casts = all_casts - casts.to_a %>
        <% if casts.any? %>
            <div class="grid grid-cols-4 gap-1 w-full">
                <% casts.each do |cast| %>

                    <div class="flex flex-col items-center p-3 border border-gray-200 rounded-lg hover:border-gray-400 transition-all relative group">
                        <span class="font-bold text-lg text-center"><%= cast.name %></span>
                        <div class="flex justify-center space-x-2 mt-4">
                            <a href="<%= remove_from_cast_manage_person_path(person, cast_id: cast.id) %>"
                                data-action="cast-membership-card#remove"
                                data-person-id="<%= person.id %>"
                                data-cast-id="<%= cast.id %>"
                                data-turbo-prefetch="false"
                                class="inline-block px-2 py-1 bg-pink-500 text-white rounded hover:bg-pink-600 text-sm transition cursor-pointer"
                            >
                                Remove
                            </a>
                        </div>
                    </div>
                <% end %>
            </div>
        <% else %>
            <div class="text-sm text-gray-500 mt-1">
                Not currently cast in <%= production.name %>
            </div>
        <% end %>

        <% if available_casts.any? %>
            <div class="w-full mt-1">
                <a
                    href="#"
                    class="text-pink-500 underline text-xs"
                    onclick="event.preventDefault(); this.classList.add('hidden'); document.getElementById('add-to-cast-form').classList.toggle('hidden')">
                    Add to
                    <%= casts.any? ? "another" : "a" %>
                    cast
                </a>
            </div>
        <% end %>

        <div id="add-to-cast-form" class="hidden w-96 mt-2">
            <% if available_casts.any? %>
                <%= form_with url: add_to_cast_manage_person_path(production, person), method: :post, html: { class: "flex gap-2 items-center", data: { action: "cast-membership-card#add", cast_membership_card_target: "form" } } do |f| %>
                    <%= select_tag :cast_id, options_from_collection_for_select(available_casts, :id, :name), class: "block shadow-sm rounded-lg border px-3 py-2 w-full border-gray-400" %>
                    <%= hidden_field_tag :person_id, person.id %>
                    <%= submit_tag "Add", class: "px-3 py-1 rounded bg-pink-500 text-white font-bold hover:bg-pink-600 cursor-pointer" %>
                <% end %>
            <% end %>
        </div>
    </div>
</div>