<div class="mb-4">
    <label class="block text-sm font-medium text-gray-700 mb-3">Options</label>

    <div data-controller="nested-form">
        <div data-nested-form-target="children" class="space-y-2">
        <%= form.fields_for :question_options do |option_form| %>
            <%= render "question_option_fields", form: option_form %>
        <% end %>
        </div>

        <template data-nested-form-target="template">
        <%= form.fields_for :question_options, QuestionOption.new, child_index: "NEW_CHILD_RECORD" do |option_form| %>
            <%= render "question_option_fields", form: option_form %>
        <% end %>
        </template>

        <div class="mt-3">
            <%= render "shared/button",
                text: "Add an option",
                variant: "outline",
                size: "small",
                type: :button,
                icon: "plus",
                data: { action: "nested-form#add" } %>
        </div>
    </div>

</div>
