<% content_for :title, "Audition Settings" %>

<div class="w-full">
  <%= render partial: "shared/notice", locals: { notice: notice } %>
  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Auditions", manage_production_auditions_path(@production)],
      ["Prepare", prepare_manage_production_audition_cycle_path(@production, @audition_cycle)]
    ],
    text: "Audition Settings",
    links: []
  } %>

  <%= render partial: "manage/auditions/lifecycle_panel", locals: { current_step: :prepare } %>

  <%= form_with(model: [:manage, @production, @audition_cycle], class: "contents") do |form| %>

    <%= render partial: "shared/top_menu", locals: {
      breadcrumbs: [],
      text: "Audition Type",
      links: []
    } %>

    <div class="mt-5 mb-7">
      <p class="text-sm text-gray-500">Choosing "In-Person" auditions will enable people to sign up for an audition, while "Video Upload" auditions will allow them to submit a video during the sign-up process.</p>
      <%= form.select :audition_type, [["In-person", "in_person"], ["Video Upload", "video_upload"]], {}, class: "block shadow-sm rounded-lg border px-3 py-2 mt-2 w-64 border-gray-400" %>
    </div>

    <%= render partial: "shared/top_menu", locals: {
      breadcrumbs: [],
      text: "Sign-up Window",
      links: []
    } %>

    <p class="text-sm text-gray-500 mb-5">When should the Sign-up window open? You can optionally set a close date, or leave it open-ended to keep accepting sign-ups indefinitely.</p>

    <div class="sm:flex my-5">
      <div class="w-full sm:w-1/2 sm:mr-5">
        <%= form.label :opens_at, "Open At:" %>
        <%= form.datetime_field :opens_at, class: ["block shadow-sm rounded-lg border px-3 py-2 mt-2 w-full", {"border-gray-400": @audition_cycle.errors[:opens_at].none?, "border-pink-500": @audition_cycle.errors[:opens_at].any?}] %>
      </div>
      <div class="w-full mt-5 sm:w-1/2 sm:ml-5 sm:mt-0" data-controller="date-field-toggle">
        <%= form.label :closes_at, "Close At (Optional):" %>
        <%= form.hidden_field :closes_at, data: { date_field_toggle_target: "hiddenField" } %>
        <%= form.datetime_field :closes_at, class: ["block shadow-sm rounded-lg border px-3 py-2 mt-2 w-full", {"border-gray-400": @audition_cycle.errors[:closes_at].none?, "border-pink-500": @audition_cycle.errors[:closes_at].any?}], data: { date_field_toggle_target: "field" }, name: "" %>
        <a href="#" class="text-sm text-pink-500 underline mt-1 ml-1 inline-block" data-action="click->date-field-toggle#toggle" data-date-field-toggle-target="link"></a>
      </div>
    </div>

    <div class="border-t border-gray-200 pt-5 mt-5">
      <%= render "shared/button", text: "Update", variant: "primary", size: "medium", type: :submit %>
      <%= render "shared/button", text: "Back", variant: "ghost-cancel", size: "medium", path: "javascript:history.back()", type: :button %>
    </div>
  <% end %>

</div>
