<div class="flex flex-col items-center mt-10">
    <img src="<%= asset_path('cocoscout.png') %>" alt="CocoScout" class="w-24 sm:w-36 object-contain select-none pointer-events-none" />
</div>

<div class="max-w-lg mx-auto p-6 bg-white rounded shadow">

  <h1 class="text-xl font-bold mb-4 text-center">Add a Production Company</h1>

  <%= form_with(model: [:manage, @production_company], class: "contents") do |form| %>

    <div class="mb-5">
      <% if @production_company.errors[:name].none? %>
            <%= form.label :name, "Name:" %>
        <% else %>
            <%= form.label :name, "Name is required", class: "text-pink-600"  %>
        <% end %>
      <span class="text-sm text-gray-500"> (Your company or organization)</span>
      <%= form.text_field :name, class: ["block shadow-sm rounded-lg border px-3 py-2 mt-2 w-full", {"border-gray-400": @production_company.errors[:name].none?, "border-pink-500": @production_company.errors[:name].any?}] %>
    </div>

    <div class="inline">
      <%= form.submit "Add Production Company", class: "sm:w-auto rounded-lg px-3.5 py-2.5 text-white bg-pink-500 hover:bg-pink-600 focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 inline-block font-medium cursor-pointer" %>
      <%= link_to "Back", "javascript:history.back()", class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-lg px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
    </div>

  <% end %>

</div>
