<div class="flex flex-col items-center mt-10">
    <img src="<%= asset_path('cocoscout.png') %>" alt="CocoScout" class="w-48 object-contain select-none pointer-events-none" />
</div>

<div class="max-w-lg mx-auto p-6 bg-white rounded shadow">
  <h1 class="text-xl font-bold mb-4 text-center">Join CocoScout</h1>

    <div class="my-5">
        <p><%= @call_to_audition.production.production_company.name %> is using CocoScout to manage its productions, auditions, and casting.</p>
        <p class="mt-4">
            In order to sign up for a <b><%= @call_to_audition.production.name %></b> audition, you must sign up for a
            CocoScout account, which will allow you to save and update your audition submission, as well as blah blah blah.
        </p>
    </div>

    <% if @authentication_error %>
        <div class="text-pink-500">
            Sign in failed. Please enter the correct password.
        </div>
    <% end %>

    <% if @user_exists_error %>
        <div class="text-pink-500">
            You already have a CocoScout account. Please <a href="<%= signin_respond_to_call_to_audition_path %>" class="underline text-pink-500">sign in</a> to continue.
        </div>
    <% end %>

  <%= form_with(model: @user, url: signup_path, class: "contents") do |form| %>
    <div class="my-5">
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "block shadow-sm rounded-md border border-gray-400 px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5" data-controller="password-visibility">
      <div class="relative">
        <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Set a password", maxlength: 72, class: "block shadow-sm rounded-md border border-gray-400 px-3 py-2 mt-2 w-full pr-10", data: { password_visibility_target: "input" } %>
        <button type="button"
                data-action="password-visibility#toggle"
                class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-500 hover:text-gray-700 focus:outline-none">
          <span data-password-visibility-target="icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>
          </span>
        </button>
      </div>
    </div>

    <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
      <%= form.submit "Create Account", class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-pink-500 hover:bg-pink-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>

</div>

<div class="w-full text-center mx-auto p-6">
    Already have a CocoScout account? <%= link_to "Sign In", signin_path, class: "text-pink-500 underline" %>
</div>

<div class="flex flex-col items-center mt-5">
    <h1 class="p-5 pb-3 text-3xl coustard-regular text-pink-500">CocoScout</h1>
</div>