<% content_for :title, "Schedule an In-person Session" %>

<div class="w-full">
  <%= render partial: "shared/notice", locals: { notice: notice } %>

  <h1 class="text-2xl font-bold">In-person Sessions</h1>

  <%= render partial: "manage/auditions/lifecycle_panel", locals: { current_step: :review } %>

  <div id="audition_sessions" class="min-w-full" data-controller="audition-sessions drag" data-production-id="<%= @production.id %>">

    <div class="grid grid-cols-5 gap-8">
      <!-- Sessions list on the left -->
      <div class="col-span-2">
        <div class="space-y-3">
          <% if @audition_sessions.any? %>
            <% @audition_sessions.each do |audition_session| %>
              <div class="p-4 border border-gray-200 rounded-lg hover:border-gray-400 transition-all cursor-pointer"
                   data-audition-sessions-target="sessionCard"
                   data-session-id="<%= audition_session.id %>"
                   data-action="click->audition-sessions#selectSession">
                <p class="text-lg font-bold text-gray-900"><%= audition_session.start_at.strftime("%-m/%-d/%Y") %></p>
                <p class="text-sm text-gray-600"><%= audition_session.start_at.strftime("%-l:%M %p") %></p>
                <% if audition_session.location.present? %>
                  <p class="text-sm text-gray-600 mt-2">
                    <span class="inline-flex items-center gap-1 rounded-md px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset bg-gray-50 text-gray-700 ring-gray-600/10">
                      <svg class="w-3 h-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" /><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" /></svg>
                      <%= audition_session.location.name %>
                    </span>
                  </p>
                <% end %>
              </div>
            <% end %>

            <div class="mt-6">
              <%= render partial: "shared/link_button", locals: {text: "View Summary", path: manage_production_audition_session_summary_path(@production)} %>
            </div>
          <% else %>
            <p class="text-center text-sm my-10">No audition sessions found. <%= link_to "Schedule an In-person Session", manage_production_auditions_prepare_audition_sessions_path(@production), class: "text-pink-500 underline" %></p>
          <% end %>
        </div>
      </div>

      <!-- Sign-ups list on the right -->
      <div class="col-span-3">
        <%= render partial: "manage/audition_sessions/left_list", locals: { production: @production, filter: (params[:filter] || session[:audition_request_filter] || "to_be_scheduled") } %>
      </div>
    </div>
  </div>
</div>
