<% content_for :title, "Schedule an In-person Session" %>

<div class="w-full">
  <%= render partial: "shared/notice", locals: { notice: notice } %>


  <% if @audition.nil? %>

    <%= render partial: "shared/top_menu", locals: {
        breadcrumbs: [
          ["Auditions", manage_production_auditions_path(@production)],
          ["Run Auditions", run_manage_production_audition_cycle_path(@production, @audition_cycle)]
        ],
        text: "#{@audition_session.start_at.strftime("%-m/%-d/%Y at %-l:%M %p")}",
        links: []
      }
    %>

    <div class="w-full h-full flex items-center justify-center text-center text-sm text-gray-500" style="min-height: 60vh;">
      Select an auditionee below to view their Sign-up
    </div>

  <% else %>

    <%= render partial: "shared/top_menu", locals: {
        breadcrumbs: [
          ["Auditions", manage_production_auditions_path(@production)],
          ["Run Auditions", run_manage_production_audition_cycle_path(@production, @audition_cycle)],
          ["#{@audition_session.start_at.strftime("%-m/%-d/%Y at %-l:%M %p")}", manage_production_audition_cycle_audition_session_path(@production, @audition_cycle, @audition_session)]
        ],
        text: "#{@requestable.name}",
        links: []
      }
    %>

    <div class="w-full" data-controller="tabs">
      <nav class="flex flex-wrap gap-2 border-b border-gray-200 mb-4">
        <button type="button" data-tabs-target="tab" data-index="0" data-action="tabs#select" class="px-3 lg:px-4 py-2 text-xs lg:text-sm font-medium bg-white border-b-2 text-pink-600 cursor-pointer whitespace-nowrap">Profile</button>
        <% if @requestable.is_a?(Person) %>
          <button type="button" data-tabs-target="tab" data-index="1" data-action="tabs#select" class="px-3 lg:px-4 py-2 text-xs lg:text-sm font-medium bg-gray-50 border-b-2 text-gray-500 cursor-pointer whitespace-nowrap">Resume</button>
        <% end %>
        <button type="button" data-tabs-target="tab" data-index="2" data-action="tabs#select" class="px-3 lg:px-4 py-2 text-xs lg:text-sm font-medium bg-gray-50 border-b-2 text-gray-500 cursor-pointer whitespace-nowrap">Sign-up Questions</button>
      </nav>

      <div data-tabs-target="panel">
        <% if @requestable.is_a?(Person) %>
          <%= render "shared/person_card", person: @requestable, show_public_profile_link: false %>
        <% else %>
          <%= render "shared/group_card", group: @requestable, show_public_profile_link: false %>
        <% end %>
      </div>

      <% if @requestable.is_a?(Person) %>
        <div data-tabs-target="panel" class="hidden">
          <% resume_preview = @requestable.safe_resume_preview(resize_to_limit: [1224, 1584]) %>
          <% if resume_preview %>
            <div class="w-full">
              <%= image_tag resume_preview, class: "object-contain" %>
            </div>
          <% else %>
            <p class="text-left text-gray-500 text-sm">No resume found</p>
          <% end %>
        </div>
      <% end %>

      <div data-tabs-target="panel" class="hidden">
        <% if @answers.any? %>
          <div class="mt-2">
            <%= render "manage/audition_requests/answers", answers: @answers %>
          </div>
        <% else %>
          <p class="text-left text-gray-500 text-sm">No sign-up questions answered</p>
        <% end %>
      </div>

    </div>

  <% end %>

</div>

<%# Bottom Navigation Bar %>
<div class="fixed bottom-0 left-0 w-full lg:h-[84px] bg-white text-pink-500 p-2 pb-1 border-t-4 border-pink-500 lg:pl-56">

  <div class="flex justify-start lg:justify-center gap-1 flex-wrap">
      <% @audition_session.auditions.each do |audition| %>
        <% auditionable = audition.auditionable %>
        <%= link_to manage_production_audition_cycle_audition_session_audition_path(@production, @production.audition_cycle, @audition_session, audition), class: "flex flex-col items-center rounded-lg" do %>
          <div
            data-controller="tooltip"
            data-tooltip-text="<%= auditionable.name.truncate(40, omission: "...") %>"
          >
            <% headshot_url = safe_headshot_url(auditionable, variant: :thumb) %>
            <% if headshot_url %>
              <%= image_tag headshot_url, alt: auditionable.name, class: "w-12 h-12 lg:w-16 lg:h-16 rounded-lg object-cover" %>
            <% elsif auditionable.is_a?(Person) %>
              <div class="w-12 h-12 lg:w-16 lg:h-16 rounded-lg bg-gray-300 flex items-center justify-center text-white font-bold text-xs lg:text-base">
                <%= auditionable.initials %>
              </div>
            <% else %>
              <div class="w-12 h-12 lg:w-16 lg:h-16 rounded-lg bg-gray-300 flex items-center justify-center text-white font-bold text-xs lg:text-base">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z" />
                </svg>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>

  </div>


</div>