<% content_for :title, "Roles" %>

<div class="w-full">
  <%= render partial: "shared/notice", locals: { notice: notice } %>
  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [],
    text: "Roles",
    links: []
  } %>

  <div id="roles" class="min-w-full divide-y divide-gray-200 space-y-5">
    <% if @roles.any? %>
      <div class="grid grid-cols-4 gap-1 w-full">
        <% @roles.each do |role| %>

              <div class="flex flex-col items-center p-3 border border-gray-200 rounded-lg hover:border-gray-400 transition-all relative group">
                <span class="font-bold text-lg text-center"><%= role.name %></span>

                <% if Current.user.manager? %>
                  <div class="flex justify-center space-x-2 mt-4">
                    <%= link_to "Edit", edit_manage_production_role_path(@production, role), class: "inline-block px-2 py-1 bg-pink-500 text-white rounded hover:bg-pink-600 text-sm transition cursor-pointer" %>
                    <%= link_to "Delete",
                          manage_production_role_path(@production, role),
                          data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this role?" },
                          class: "inline-block px-2 py-1 bg-pink-500 text-white rounded hover:bg-pink-600 text-sm transition cursor-pointer" %>
                  </div>
                <% end %>

              </div>

        <% end %>
      </div>
    <% else %>
      <p class="text-gray-500 text-sm">
        No roles have been added.
      </p>
    <% end %>
  </div>

  <% if Current.user.manager? %>
    <div class="w-full my-5"></div>
      <%= render partial: "shared/top_menu", locals: {
        breadcrumbs: [],
        text: "Add a Role",
        links: []
      } %>

      <%= form_with(model: [:manage, @production, @role], class: "contents") do |form| %>
        <div class="">
          <% if @role.errors[:name].none? %>
              <%= form.label :name, "Role Name:" %>
          <% else %>
              <%= form.label :name, "Role Name is required:", class: "text-pink-600"  %>
          <% end %>
          <%= form.text_field :name, class: ["inline-block shadow-sm rounded-lg border px-3 py-2 mt-2 w-96 ml-2", {"border-gray-400": @role.errors[:name].none?, "border-pink-500": @role.errors[:name].any?}] %>
          <%= form.submit "Create Role", class: "sm:w-auto rounded-lg px-3.5 py-2.5 text-white bg-pink-500 hover:bg-pink-600 focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 inline-block font-medium cursor-pointer" %>
        </div>
      <% end %>

    </div>
  <% end %>

</div>
