<% content_for :title, "Editing production" %>

<div class="w-full">

  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [],
    text: @production.name,
    links: []
  } %>

  <%= form_with(model: [:manage, @production], class: "contents") do |form| %>
    <div class="my-5">
      <%= form.label :name %>
      <%= form.text_field :name, class: ["block shadow-sm rounded-lg border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-pink-500": @production.errors[:name].none?, "border-red-400 focus:outline-pink-500": @production.errors[:name].any?}] %>
    </div>

    <div class="my-5">
      <%= form.label :description %>
      <%= form.textarea :description, rows: 4, class: ["block shadow-sm rounded-lg border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-pink-500": @production.errors[:description].none?, "border-red-400 focus:outline-pink-500": @production.errors[:description].any?}] %>
    </div>

    <div class="my-5">
      <%= form.label :contact_email %>
      <%= form.email_field :contact_email, class: ["block shadow-sm rounded-lg border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-pink-500": @production.errors[:contact_email].none?, "border-red-400 focus:outline-pink-500": @production.errors[:contact_email].any?}] %>
    </div>

    <div class="text-md pt-5">Logo</div>
    <div class="my-2 flex p-4 border border-gray-200 rounded-lg hover:border-gray-400 transition-all items-top max-w-md">
        <div class="md:mr-5 w-full">

            <% if @production.logo.attached? %>
                <div class="mb-4">
                    <%= image_tag url_for(@production.logo), class: "rounded shadow max-w-72 rounded-lg border border-gray-200" %>
                </div>
            <% end %>

            <div class="flex items-center justify-between">
              <%= form.label :image, "Update Logo:", class: "text-sm" %>
              <span class="text-sm text-gray-500">(JPEG, JPG, or PNG)</span>
            </div>

            <div class="block shadow-sm rounded-lg border px-3 py-2 mt-1 border-gray-400">
                <%= form.file_field :image, class: "text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-lg file:border-0 file:text-sm file:font-semibold file:text-white file:bg-pink-500 hover:file:bg-pink-600" %>
            </div>

        </div>
    </div>

    <div class="pt-2 w-full">
      <%= form.submit "Update Production", class: "sm:w-auto rounded-lg px-3.5 py-2.5 text-white bg-pink-500 hover:bg-pink-600 focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 inline-block font-medium cursor-pointer inline-block" %>
      <%= link_to "Back", 'javascript:history.back()', class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-lg px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
    </div>

  <% end %>

</div>

<div class="mt-10 mb-4">
  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [],
    text: "Danger Zone",
    links: []
  } %>

  <%= button_to "Delete this production", [:manage, @production], method: :delete, form_class: "sm:inline-block mt-2 sm:mt-0 sm:ml-2", class: "w-full rounded-lg px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
</div>