<% content_for :title, "Editing production" %>

<div class="w-full">

  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [],
    text: @production.name,
    links: []
  } %>

  <%= form_with(model: [:manage, @production], class: "contents") do |form| %>
    <div class="my-5">
      <%= form.label :name %>
      <%= form.text_field :name, class: ["block shadow-sm rounded-lg border px-3 py-2 mt-2 w-full", {"border-gray-400": @production.errors[:name].none?, "border-pink-500": @production.errors[:name].any?}] %>
    </div>

    <div class="my-5">
      <%= form.label :description %>
      <%= form.textarea :description, rows: 4, class: ["block shadow-sm rounded-lg border px-3 py-2 mt-2 w-full", {"border-gray-400": @production.errors[:description].none?, "border-pink-500": @production.errors[:description].any?}] %>
    </div>

    <div class="my-5">
      <%= form.label :contact_email %>
      <%= form.email_field :contact_email, autocapitalize: "none", class: ["block shadow-sm rounded-lg border px-3 py-2 mt-2 w-full", {"border-gray-400": @production.errors[:contact_email].none?, "border-pink-500": @production.errors[:contact_email].any?}] %>
    </div>

    <div class="pt-2 w-full">
      <%= form.submit "Update Production", class: "sm:w-auto rounded-lg px-3.5 py-2.5 text-white bg-pink-500 hover:bg-pink-600 font-medium cursor-pointer inline-block" %>
      <%= link_to "Back", 'javascript:history.back()', class: "sm:w-auto rounded-lg px-3.5 py-2.5 text-pink-500 bg-gray-200 hover:bg-pink-600 hover:text-white inline-block font-medium cursor-pointer" %>
    </div>

  <% end %>

</div>

<div class="mt-20 pt-10 mb-4 border-t-2 border-red-500">
  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [],
    text: "Danger Zone",
    links: []
  } %>

  <%= button_to "Delete this production", [:manage, @production], method: :delete, form_class: "sm:inline-block mt-2 sm:mt-0", class: "w-full rounded-lg px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
</div>