<% content_for :title, @production.name %>

<div class="w-full mb-4">
  <%= render partial: "shared/notice", locals: { notice: notice } %>
  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      [@production.name, manage_production_path(@production)]
    ],
    text: "Edit Poster",
    links: []
  } %>
</div>

<%= form_with(model: [:manage, @production, @poster], local: true, html: { multipart: true }) do |form| %>

  <% if @poster.errors.any? %>
    <div class="mb-4 text-pink-600">
      <ul>
        <% @poster.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="my-5 flex p-4 border border-gray-200 rounded-lg hover:border-gray-400 transition-all items-top max-w-md">
        <div class="md:mr-5 w-full">

            <% if @poster.image.attached? %>
                <div class="mb-4">
                    <div class="text-md mb-2">Current Poster Image</div>
                    <%= image_tag url_for(@poster.image), class: "rounded shadow max-w-72 rounded-lg border border-gray-200" %>
                </div>
            <% end %>

            <%= form.label :image, "Update Poster Image" %>
            <span class="text-sm text-gray-500"> (PDF, JPG, or PNG)</span>

            <div class="block shadow-sm rounded-lg border px-3 py-2 mt-2 border-gray-400">
                <%= form.file_field :image, class: "text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-lg file:border-0 file:text-sm file:font-semibold file:text-white file:bg-pink-500 hover:file:bg-pink-600" %>
            </div>

        </div>
    </div>

    <div class="mb-4 w-1/2">
        <%= form.label :name, "Poster Name/Description" %>
        <span class="text-sm text-gray-500"> (optional)</span>
        <%= form.text_field :name, class: ["block shadow-sm rounded-lg border px-3 py-2 mt-2 w-full", {"border-gray-400": @poster.errors[:name].none?, "border-pink-500": @poster.errors[:name].any?}] %>
    </div>

    <div class="inline">
        <%= form.submit "Update Poster", class: "sm:w-auto rounded-lg px-3.5 py-2.5 text-white bg-pink-500 hover:bg-pink-600 focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 inline-block font-medium cursor-pointer inline-block" %>
        <%= link_to "Back", 'javascript:history.back()', class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-lg px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
    </div>

<% end %>