<% content_for :title, @production.name %>

<div class="w-full mb-4">
  <%= render partial: "shared/notice", locals: { notice: notice } %>
  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      [@production.name, manage_production_path(@production)]
    ],
    text: "Add a Poster",
    links: []
  } %>
</div>

<%= form_with(model: [:manage, @production, @poster], local: true, html: { multipart: true }) do |form| %>

  <% if @poster.errors.any? %>
    <div class="mb-4 text-pink-600">
      <ul>
        <% @poster.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="my-5 md:flex md:w-full">
        <div class="md:mr-5 md:w-half">

            <%= form.label :image %>
            <span class="text-sm text-gray-500"> (PDF, JPG, or PNG)</span>

            <div class="block shadow-sm rounded-lg border px-3 py-2 mt-2 w-half border-gray-400">
                <%= form.file_field :image, class: "w-64 text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-lg file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-white file:bg-pink-500 hover:file:bg-pink-600" %>
            </div>
        </div>
    </div>

    <div class="mb-4 w-full sm:w-1/2">
        <%= form.label :name, "Poster Name/Description" %>
        <span class="text-sm text-gray-500"> (optional)</span>
        <%= form.text_field :name, class: ["block shadow-sm rounded-lg border px-3 py-2 mt-2 w-full", {"border-gray-400": @poster.errors[:name].none?, "border-pink-500": @poster.errors[:name].any?}] %>
    </div>

    <div class="inline">
        <%= form.submit "Add Poster", class: "sm:w-auto rounded-lg px-3.5 py-2.5 text-white bg-pink-500 hover:bg-pink-600 inline-block font-medium cursor-pointer inline-block" %>
        <%= link_to "Back", 'javascript:history.back()', class: "sm:w-auto rounded-lg px-3.5 py-2.5 text-pink-500 bg-gray-200 hover:bg-pink-600 hover:text-white inline-block font-medium cursor-pointer" %>
    </div>

<% end %>