<% content_for :title, "My Shows" %>

<div class="w-full">

  <%= render partial: "shared/notice", locals: { notice: notice } %>

  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [],
    text: "My Shows",
    links: []
  } %>

    <% if @productions.any? %>

        <div class="grid grid-cols-3 gap-2 mt-2">
            <% @productions.each do |production| %>
                <div class="p-4 border border-gray-200 rounded-lg hover:border-gray-400 transition-all flex items-top">
                    <div class="flex flex-col w-full">
                        <% if production.logo.attached? %>
                            <div class="w-full mb-2">
                                <%= image_tag production.logo.variant(resize_to_fill: [300, 150]), alt: "#{production.name} logo", class: "w-full object-contain rounded-lg" %>
                            </div>
                        <% end %>

                        <div class="mt-2 font-bold text-2xl"><%= production.name %></div>

                        <div class="mt-2 w-full text-sm">
                            <% next_show = Current.user.person.next_show_for_production(production)%>
                            <% if next_show %>
                                <p class="text-gray-500">My next scheduled show:</p>
                                <p class=""><%= next_show.date_and_time.strftime('%b %d, %Y at %l:%M %p') %></p>
                            <% else %>
                                <p class="text-sm text-gray-500">
                                    You aren't cast in any upcoming shows
                                </p>
                            <% end %>
                            <p class="mt-2">
                                <%= link_to "View full production schedule", my_production_path(production), class: "text-pink-500 hover:underline" %>
                            </p>
                        </div>
                    </div>

                </div>
            <% end %>
        </div>
    <% else %>
         <p class="text-gray-500 text-sm pt-2">
            You aren't a cast member of any shows.
        </p>
    <% end %>

</div>