<% content_for :title, "My Shows" %>

<div class="w-full">

  <%= render partial: "shared/notice", locals: { notice: notice } %>

  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [],
    text: "My Shows & Events",
    links: []
  } %>

    <% if @productions.any? %>

        <div class="grid grid-cols-1 sm:grid-cols-3 gap-2 mt-2">
            <% @productions.each do |production| %>

                <%= link_to my_production_path(production) do %>
                    <div class="p-4 border border-gray-200 rounded-lg hover:border-gray-400 transition-all flex items-top">
                        <div class="flex flex-col w-full">
                            <% if production.logo.attached? %>
                                <div class="w-full mb-2">
                                    <%= image_tag production.logo.variant(resize_to_fill: [300, 150]), alt: "#{production.name} logo", class: "w-full object-contain rounded-lg" %>
                                </div>
                            <% end %>

                            <div class="mt-2 font-bold text-xl"><%= production.name %></div>

                            <div class="mt-1 text-sm">
                                <% next_event = Current.user.person.next_event_for_production(production) %>
                                <% if next_event %>
                                    <% event_label = next_event.event_type.titleize %>
                                    <p class="text-gray-500">Next scheduled <%= event_label.downcase %>:</p>
                                    <p class="inline-block text-sm font-bold text-pink-500"><%= next_event.date_and_time.strftime('%b %d, %Y at %l:%M %p') %></p>
                                <% else %>
                                    <p class="text-sm text-gray-500">
                                        No upcoming events scheduled
                                    </p>
                                <% end %>
                            </div>

                        </div>

                    </div>
                <% end %>

            <% end %>
        </div>
    <% else %>
         <p class="text-gray-500 text-sm pt-2">
            You aren't a cast member of any shows.
        </p>
    <% end %>

</div>