<% content_for :title, "My Shows" %>

<div class="w-full">

  <%= render partial: "shared/notice", locals: { notice: notice } %>

  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
        ["My Shows", my_shows_path]
    ],
    text: @production.name,
    links: []
  } %>

    <div class="grid grid-cols-3 gap-2 mt-2">

        <div class="col-span-1 p-4 border border-gray-200 rounded-lg hover:border-gray-400 transition-all flex items-top">
            <div class="flex flex-col w-full">
                <% if @production.logo.attached? %>
                    <div class="w-full mb-2">
                        <%= image_tag @production.logo.variant(resize_to_fill: [300, 150]), alt: "#{@production.name} logo", class: "w-full object-contain rounded-lg" %>
                    </div>
                <% end %>

                <div class="mt-2 font-bold text-2xl"><%= @production.name %></div>

            </div>

        </div>

        <div class="col-span-2">
            <% @shows.each do |show| %>
                <% assignment = @assignments_by_show[show] %>
                <div class="mb-4 border p-4 rounded-lg <%= assignment ? 'border-2 border-pink-400' : 'border-gray-200 hover:border-gray-400' %>">
                    <div class="font-bold text-lg">
                        <%= show.date_and_time.strftime("%B %d, %Y at %l:%M %p") %>
                    </div>
                    <% if show.secondary_name.present? %>
                      <div class="mt-2 text-sm text-gray-500">
                        <%= show.secondary_name %>
                      </div>
                    <% end %>
                    <% if assignment %>
                        <div class="mt-2 text-sm">
                            My Role: <strong><%= assignment.role.name %></strong>
                        </div>
                    <% end %>
                    <div class="mt-2">
                      <%= link_to "View call sheet", my_show_path(show.production, show), class: "text-pink-500 text-sm underline" %>
                    </div>
                </div>
            <% end %>
        </div>

    </div>



</div>