<% content_for :title, "My Shows" %>

<div class="w-full">

  <%= render partial: "shared/notice", locals: { notice: notice } %>

  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["My Shows", my_shows_path],
      [@production.name, my_production_path(@production)]
    ],
    text: @show.date_and_time.strftime("%B %d, %Y at %l:%M %p"),
    links: []
  } %>

    <div class="grid grid-cols-3 gap-2 mt-2">

        <div class="col-span-1 p-4 border border-gray-200 rounded-lg hover:border-gray-400 transition-all flex items-top">
          <div class="flex flex-col w-full">

            <% if @production.logo.attached? %>
              <div class="w-full mb-2">
                <%= image_tag @production.logo.variant(resize_to_fill: [300, 150]), alt: "#{@production.name} logo", class: "w-full object-contain rounded-lg" %>
              </div>
            <% end %>

            <div class="mt-2 font-bold text-2xl"><%= @production.name %></div>
            <div class="mt-2 font-bold text-lg"><%= @show.date_and_time.strftime("%B %d, %Y at %l:%M %p") %></div>

            <% if @show.secondary_name.present? %>
              <div class="mt-2 text-md"><%= @show.secondary_name %></div>
            <% end %>
          </div>
        </div>

        <div class="col-span-2">
            <% @show_person_role_assignments.each do |assignment| %>
                <div class="mb-2 border p-4 rounded-lg border-gray-200 hover:border-gray-400">
                  <%= assignment.role.name %>: <%= assignment.person.name %>
                </div>
            <% end %>
        </div>

    </div>



</div>