<% content_for :title, "My Shows" %>

<div class="w-full">

  <%= render partial: "shared/notice", locals: { notice: notice } %>

  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["My Shows", my_shows_path],
      [@production.name, my_production_path(@production)]
    ],
    text: @show.date_and_time.strftime("%B %d, %Y at %l:%M %p"),
    links: []
  } %>

    <div class="grid grid-cols-1 sm:grid-cols-3 gap-2 mt-2">

        <div class="col-span-1 space-y-2">

          <div class="flex flex-col w-full p-4 border border-gray-200 rounded-lg hover:border-gray-400 transition-all flex items-top">

            <% if @production.logo.attached? %>
              <div class="w-full mb-2">
                <%= image_tag @production.logo.variant(resize_to_fill: [300, 150]), alt: "#{@production.name} logo", class: "w-full object-contain rounded-lg" %>
              </div>
            <% end %>

            <div class="mt-2 font-bold text-2xl"><%= @production.name %></div>
            <div class="mt-2 font-bold text-lg"><%= @show.date_and_time.strftime("%B %d, %Y at %l:%M %p") %></div>

            <% if @show.secondary_name.present? %>
              <div class="mt-2 text-md"><%= @show.secondary_name %></div>
            <% end %>
          </div>

        </div>

        <div class="col-span-1 sm:col-span-2 space-y-2">

          <div class="flex flex-col w-full p-4 border border-gray-200 rounded-lg hover:border-gray-400 transition-all flex items-top">
            <%= render partial: "shared/top_menu", locals: {
              breadcrumbs: [],
              text: "Full Cast",
              links: []
            } %>

            <div class="text-md">
              <table>
                <% @show_person_role_assignments.each do |assignment| %>
                  <tr class="">
                    <td><%= assignment.role.name %></td>
                    <td class="pl-2 font-bold"><%= assignment.person.name %></td>
                  </tr>
                <% end %>
              </table>
            </div>

          </div>

          <div class="flex flex-col w-full p-4 border border-gray-200 rounded-lg hover:border-gray-400 transition-all flex items-top">
            <%= render partial: "shared/top_menu", locals: {
              breadcrumbs: [],
              text: "Location",
              links: []
            } %>

            <% if @show.location.present? %>
              <div class="text-md">
                <div class="font-bold"><%= @show.location.name %></div>
                <div class="text-sm text-gray-500">
                  <%= @show.location.address1 %><br>
                  <% if @show.location.address2.present? %>
                    <%= @show.location.address2 %><br>
                  <% end %>
                  <%= "#{@show.location.city}, #{@show.location.state} #{@show.location.postal_code}" %>
                </div>

                <% if @show.location.notes.present? %>
                  <div class="mt-2">
                    <div class="font-bold">Notes/Instructions:</div>
                    <div class="text-sm text-gray-500">
                      <%= @show.location.notes %>
                    </div>
                  </div>
                <% end %>
              </div>

              <div class="mt-4">
                  <% loc = @show.location %>
                  <% if loc.present? %>
                      <% address = [loc.address1, loc.address2, loc.city, loc.state, loc.postal_code].compact.reject(&:blank?).join(', ') %>
                      <div class="w-full">
                          <iframe
                              width="100%"
                              height="400"
                              style="border:0"
                              loading="lazy"
                              allowfullscreen
                              referrerpolicy="no-referrer-when-downgrade"
                              src="https://www.google.com/maps?q=<%= URI.encode_www_form_component(address) %>&output=embed">
                          </iframe>
                      </div>
                  <% end %>
              </div>

            <% end %>

          </div>


          <% if @show.poster.present? || @show.show_links.any? %>
            <div class="flex flex-col w-full p-4 border border-gray-200 rounded-lg hover:border-gray-400 transition-all flex items-top">
              <%= render partial: "shared/top_menu", locals: {
                breadcrumbs: [],
                text: "Social Media & Links",
                links: []
              } %>

              <% if @show.poster.present? %>
                <div class="mt-2">
                  <%= image_tag url_for(@show.poster.variant(:small)), class: "" %>
                </div>
              <% end %>

              <% if @show.show_links.any? %>
                <div class="mt-2 flex flex-col space-y-1">
                  <% @show.show_links.each do |link| %>
                    <%= link_to link.url, link.url, target: "_blank", rel: "noopener", class: "text-sm text-pink-500 underline" %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>

        </div>

    </div>



</div>