<div class="flex flex-col items-center mt-10">
    <img src="<%= asset_path('cocoscout.png') %>" alt="CocoScout" class="w-24 sm:w-36 object-contain select-none pointer-events-none" />
</div>

<div class="max-w-lg mx-auto p-6 bg-white rounded shadow">
    <% if @organizations.any? %>
        <h1 class="text-xl font-bold mb-4 text-center">Select an Organization</h1>
        <div class="space-y-2">
            <% @organizations.each do |organization| %>
                <div class="flex items-center justify-between p-3 border border-gray-200 rounded-lg hover:bg-gray-50">
                    <span><%= organization.name %></span>
                    <%= button_to "Select", set_current_manage_organizations_path(id: organization.id), method: :post, class: "px-3 py-1 rounded-lg bg-pink-500 text-white font-bold hover:bg-pink-600 cursor-pointer" %>
                </div>
            <% end %>
        </div>
    <% else %>
        <h1 class="text-xl font-bold mb-4 text-center">Add your Organization</h1>

        <%= form_with(model: [:manage, @organization], class: "contents") do |form| %>

            <div class="mb-5">
                <% if @organization.errors[:name].none? %>
                    <%= form.label :name, "Name:" %>
                <% else %>
                    <%= form.label :name, "Name is required", class: "text-pink-600"  %>
                <% end %>
                <span class="text-sm text-gray-500"> (Your company or organization)</span>
                <%= form.text_field :name, class: ["block shadow-sm rounded-lg border px-3 py-2 mt-2 w-full", {"border-gray-400": @organization.errors[:name].none?, "border-pink-500": @organization.errors[:name].any?}] %>
            </div>

            <div class="inline">
                <%= form.submit "Add Organization", class: "sm:w-auto rounded-lg px-3.5 py-2.5 text-white bg-pink-500 hover:bg-pink-600 inline-block font-medium cursor-pointer" %>
                <%= link_to "Back", "javascript:history.back()", class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-lg px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
            </div>

            <div class="flex flex-col gap-1">
                <%= link_to "Sign out", signout_path, data: {turbo_method: :delete}, class: "text-pink-500 underline text-xs mt-4" %>
            </div>
        <% end %>

    <% end %>
</div>

<% if current_user_can_manage? %>
    <% if @organizations.any? %>
        <div class="flex flex-col items-center mt-10">
            <%= link_to "Add an Organization", new_manage_organization_path, class: "text-pink-500 underline text-sm" %>
        </div>
    <% end %>
<% end %>

<div class="flex flex-col items-center mt-5">
    <h1 class="p-5 pb-3 text-3xl coustard-regular text-pink-500">CocoScout</h1>
</div>
