<div class="flex flex-col items-center mt-10">
    <img src="<%= asset_path('cocoscout.png') %>" alt="CocoScout" class="w-48 object-contain select-none pointer-events-none" />
</div>

<div class="max-w-lg mx-auto p-6 bg-white rounded shadow">
    <% if @production_companies.any? %>
        <h1 class="text-xl font-bold mb-4 text-center">Select a Production Company</h1>
        <div class="space-y-2">
            <% @production_companies.each do |production_company| %>
                <div class="flex items-center justify-between p-3 border border-gray-200 rounded-lg hover:bg-gray-50">
                    <span><%= production_company.name %></span>
                    <%= button_to "Select", set_current_production_companies_path(id: production_company.id), method: :post, class: "px-3 py-1 rounded-lg bg-pink-500 text-white font-bold hover:bg-pink-600 cursor-pointer" %>
                </div>
            <% end %>
        </div>
    <% else %>
        <h1 class="text-xl font-bold mb-4 text-center">Add your Production Company</h1>

        <%= form_with(model: @production_company, class: "contents") do |form| %>

            <div class="mb-5">
                <% if @production_company.errors[:name].none? %>
                    <%= form.label :name, "Name:" %>
                <% else %>
                    <%= form.label :name, "Name is required", class: "text-pink-600"  %>
                <% end %>
                <span class="text-sm text-gray-500"> (Your company or organization)</span>
                <%= form.text_field :name, class: ["block shadow-sm rounded-lg border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @production_company.errors[:name].none?, "border-pink-400 focus:outline-pink-500": @production_company.errors[:name].any?}] %>
            </div>

            <div class="inline">
                <%= form.submit "Add Production Company", class: "sm:w-auto rounded-lg px-3.5 py-2.5 text-white bg-pink-500 hover:bg-pink-600 focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 inline-block font-medium cursor-pointer" %>
                <%= link_to "Back", "javascript:history.back()", class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-lg px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
            </div>

            <div class="flex flex-col gap-1">
                <%= link_to "Log out", session_path, data: {turbo_method: :delete}, class: "text-pink-500 underline text-xs mt-4" %>
            </div>
        <% end %>

    <% end %>
</div>

<% if @production_companies.any? %>
    <div class="flex flex-col items-center mt-10">
        <%= link_to "Add a Production Company", new_production_company_path, class: "text-pink-500 underline text-sm" %>
    </div>
<% end %>

<div class="flex flex-col items-center mt-5">
    <h1 class="p-5 pb-3 text-3xl coustard-regular text-pink-500">CocoScout</h1>
</div>
