<div class="">
    <% headshot = group.primary_headshot %>
    <% if headshot&.image&.attached? %>
        <div class="lg:hidden w-full">
            <%= image_tag url_for(headshot.image), class: "relative inline-block rounded-lg w-full" %>
        </div>
    <% end %>

    <div class="flex flex-col lg:flex-row items-start lg:space-x-6">
        <div class="flex-1 w-full">
            <div class="font-bold text-2xl sm:text-3xl mt-3"><%= group.name.truncate(40, omission: "...") %></div>

            <div class="mt-5">
                <%= render partial: "shared/top_menu", locals: {
                    breadcrumbs: [],
                    text: "Email & Socials",
                    links: []
                } %>
            </div>

            <div class="flex items-center space-x-2 border-gray-200 mt-4">
                <svg width="20" height="20" class="fill-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M112 128C85.5 128 64 149.5 64 176C64 191.1 71.1 205.3 83.2 214.4L291.2 370.4C308.3 383.2 331.7 383.2 348.8 370.4L556.8 214.4C568.9 205.3 576 191.1 576 176C576 149.5 554.5 128 528 128L112 128zM64 260L64 448C64 483.3 92.7 512 128 512L512 512C547.3 512 576 483.3 576 448L576 260L377.6 408.8C343.5 434.4 296.5 434.4 262.4 408.8L64 260z"/></svg>
                <% if group.email.present? %>
                    <%= link_to group.email, "mailto:#{group.email}", class: "text-pink-500 text-sm hover:underline" %>
                <% else %>
                    <span class="text-gray-400 text-sm">No email</span>
                <% end %>
            </div>

            <div class="space-y-1 mt-1">
                <% group.socials.each do |social| %>
                    <div class="flex items-center space-x-2">
                        <%= social.icon(20) %>
                        <%= link_to social.handle, social.url, class: "text-pink-500 text-sm hover:underline", target: "_blank", rel: "noopener" %>
                    </div>
                <% end %>
            </div>
        </div>

        <% if headshot&.image&.attached? %>
            <div class="hidden lg:block flex-shrink-0 max-w-[40%] w-full">
                <%= image_tag url_for(headshot.image), class: "relative inline-block rounded-lg w-full" %>
            </div>
        <% end %>
    </div>
</div>
