<% content_for :title, "My Audition Requests" %>

<div class="w-full">

  <%= render partial: "shared/notice", locals: { notice: notice } %>

  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [],
    text: "My Audition Requests",
    links: []
  } %>

    <div class="flex w-full space-x-2">
        <div class="flex flex-1 space-x-2 mb-2">
            <!-- Left: Sorting links -->
            <%= link_to "All",
                    my_audition_requests_path(requests_filter: "all"),
                    data: { turbo_prefetch: false },
                    class: "px-3 py-1 rounded-md border text-sm #{(@requests_filter == "all") ? 'bg-pink-500 text-white border-pink-500' : 'bg-white text-gray-700 border-gray-200'}"
            %>
            <%= link_to "Open",
                    my_audition_requests_path(requests_filter: "open"),
                    data: { turbo_prefetch: false },
                    class: "px-3 py-1 rounded-md border text-sm #{(@requests_filter == "open") ? 'bg-pink-500 text-white border-pink-500' : 'bg-white text-gray-700 border-gray-200'}"
            %>
        </div>
    </div>


    <% if @audition_requests.any? %>

        <div class="grid grid-cols-1 gap-2 mt-2">
            <% @audition_requests.each do |audition_request| %>
                <div class="p-4 border border-gray-200 rounded-lg hover:border-gray-400 transition-all flex items-top">

                    <% production = audition_request.call_to_audition.production %>

                    <div class="grid grid-cols-5 gap-2 w-full">
                        <div class="col-span-3 items-center">
                            <div class="flex items-center">
                                <% if production.logo.attached? %>
                                    <div class="mr-4">
                                        <%= image_tag production.logo.variant(:small), alt: "#{production.name} logo", class: "w-[100px] object-contain rounded" %>
                                    </div>
                                <% end %>
                                <div>
                                    <div class="font-bold text-xl"><%= production.name %></div>

                                    <% if audition_request.call_to_audition.timeline_status == :open %>

                                        <% if audition_request.call_to_audition.closes_at > 1.day.from_now %>
                                            <div class="text-xs text-gray-500 mt-1">
                                                Closes on <%= audition_request.call_to_audition.closes_at.strftime('%b %d, %Y') %> at <%= audition_request.call_to_audition.closes_at.strftime('%l:%M %p') %>
                                            </div>
                                        <% else %>
                                            <div class="text-xs <%= audition_request.call_to_audition.closes_at < 4.hours.from_now ? 'text-red-500' : 'text-gray-500' %> mt-1" data-controller="countdown" data-countdown-until-value="<%= audition_request.call_to_audition.closes_at.utc.iso8601 %>">
                                                Closes in <span data-countdown-target="clock"></span>
                                            </div>
                                        <% end %>

                                        <%= link_to "Edit my Audition Request", my_respond_to_call_to_audition_form_path(audition_request.call_to_audition.token), class: "text-xs text-pink-500 underline", target: "_blank" %>

                                    <% elsif audition_request.call_to_audition.timeline_status == :closed %>
                                        <div class="text-sm text-gray-500 mt-1">Call to Audition closed on <%= audition_request.call_to_audition.closes_at.strftime('%b %d, %Y') %></div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                        <div class="col-span-2 flex flex-col justify-center items-start">
                            <div class="text-lg"><%= friendly_request_status_name(audition_request)%></div>
                            <div class="text-sm text-gray-500 mt-1"><%= friendly_request_status_text(audition_request) %></div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    <% else %>
         <p class="text-gray-500 text-sm pt-2">

            <% if @requests_filter == "all" %>
                You haven't submitted any audition requests.
            <% elsif @requests_filter == "open" %>
                You don't have any open calls to audition.
            <% end %>
        </p>
    <% end %>

</div>