<% content_for :title, "Audition Requests" %>

<div class="w-full">
  <%= render partial: "shared/notice", locals: { notice: notice } %>
  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Auditions", manage_production_auditions_path(@production)],
      ["Review", review_manage_production_audition_cycle_path(@production, @audition_cycle)],
      [(@audition_cycle.video_only? ? "Video Auditions" : "Audition Requests"), manage_production_audition_cycle_audition_requests_path(@production, @audition_cycle)],
      [@audition_request.requestable.name, manage_production_audition_cycle_audition_request_path(@production, @audition_cycle, @audition_request)]
    ],
    text: "Edit Answers",
    links: []
  } %>

  <%= form_with(model: [:manage, @production, @audition_cycle, @audition_request], class: "contents") do |form| %>

    <% if @questions.any? %>
      <% @questions.each do |question| %>
        <div class="my-5">
          <label>
            <%= question.text %>
            <% if question.required %>
              <span class="text-gray-500 text-sm">(required)</span>
            <% end %>
          </label>

          <%= render_question_input(question, @answers, missing_required_questions: @missing_required_questions) %>

        </div>
      <% end %>
    <% end %>

    <div class="border-t border-gray-200 pt-5 mt-5">
      <%= render "shared/button", text: "Update Answers", variant: "primary", size: "medium", type: :submit %>
      <%= render "shared/button", text: "Back", variant: "ghost-cancel", size: "medium", path: "javascript:history.back()", type: :button %>
    </div>
  <% end %>

</div>
