<% content_for :title, "Sign-ups" %>

<div class="w-full">
  <%= render partial: "shared/notice", locals: { notice: notice } %>
  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Auditions", manage_production_auditions_path(@production)],
      ["Review", review_manage_production_audition_cycle_path(@production, @audition_cycle)],
      [(@audition_cycle.audition_type == "video_upload" ? "Video Auditions" : "Sign-ups"), manage_production_audition_cycle_audition_requests_path(@production, @audition_cycle)],
      [@audition_request.requestable.name, manage_production_audition_cycle_audition_request_path(@production, @audition_cycle, @audition_request)]
    ],
    text: "Edit Answers",
    links: []
  } %>

  <%= form_with(model: [:manage, @production, @audition_cycle, @audition_request], class: "contents") do |form| %>

    <% if @questions.any? %>
      <% @questions.each do |question| %>
        <div class="my-5">
          <label>
            <%= question.text %>
            <% if question.required %>
              <span class="text-gray-500 text-sm">(required)</span>
            <% end %>
          </label>

          <%= render_question_input(question, @answers, missing_required_questions: @missing_required_questions) %>

        </div>
      <% end %>
    <% end %>

    <div class="inline">
      <%= form.submit 'Update Answers', class: "w-full sm:w-auto rounded-lg px-3.5 py-2.5 bg-pink-500 hover:bg-pink-600 text-white inline-block font-medium cursor-pointer" %>
      <%= link_to 'Back', 'javascript:history.back()', class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-lg px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
    </div>
  <% end %>

</div>
