<% content_for :title, "Audition Requests" %>

<div class="w-full">
  <%= render partial: "shared/notice", locals: { notice: notice } %>
  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Sign-ups", manage_signups_path],
      [@production.name, manage_signups_production_path(@production)],
      ["Auditions", manage_signups_auditions_path(@production)],
      ["Review", manage_review_signups_auditions_cycle_path(@production, @audition_cycle)],
      [(@audition_cycle.video_only? ? "Video Auditions" : "Audition Requests"), manage_signups_auditions_cycle_requests_path(@production, @audition_cycle)],
      [@audition_request.requestable.name, manage_signups_auditions_cycle_request_path(@production, @audition_cycle, @audition_request)]
    ],
    text: "Edit Answers",
    links: []
  } %>

  <%= form_with(url: manage_update_signups_auditions_cycle_request_path(@production, @audition_cycle, @audition_request), method: :patch, class: "contents") do |form| %>

    <div class="mb-5">
      <% if @audition_request.errors[:video_url].none? %>
          <%= form.label :video_url, "Video URL" %>
          <span class="text-sm text-gray-500"> (eg. YouTube, Google Drive, etc.)</span>
      <% else %>
          <%= form.label :video_url, "Video URL is required", class: "text-pink-600"  %>
      <% end %>
      <%= form.text_field :video_url, class: ["block shadow-sm rounded-lg border px-3 py-2 mt-2 w-full", {"border-gray-400": @audition_request.errors[:video_url].none?, "border-pink-500": @audition_request.errors[:video_url].any?}] %>
    </div>

    <div class="border-t border-gray-200 pt-5 mt-5">
      <%= render "shared/button", text: "Update Video", variant: "primary", size: "medium", type: :submit %>
      <%= render "shared/button", text: "Back", variant: "ghost-cancel", size: "medium", path: "javascript:history.back()", type: :button %>
    </div>
  <% end %>

</div>
