<% content_for :title, "Sign-ups" %>

<div class="w-full">
  <%= render partial: "shared/notice", locals: { notice: notice } %>
  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Auditions", manage_production_auditions_path(@production)],
      ["Sign-ups", manage_production_call_to_audition_audition_requests_path(@production, @call_to_audition)],
      [@audition_request.person.name, manage_production_call_to_audition_audition_request_path(@production, @call_to_audition, @audition_request)]
    ],
    text: "Edit Answers",
    links: []
  } %>

  <%= form_with(model: [:manage, @production, @call_to_audition, @audition_request], class: "contents") do |form| %>

    <% if @questions.any? %>
      <% @questions.each do |question| %>
        <div class="my-5">
          <label>
            <%= question.text %>
            <% if question.required %>
              <span class="text-gray-500 text-sm">(required)</span>
            <% end %>
          </label>

          <% if question.question_type == "text" %>

            <% if @missing_required_questions&.include?(question) %>
              <div class="text-sm text-pink-500">Please provide an answer to this question</div>
            <% end %>

            <%= text_field_tag "question[#{question.id}]", @answers["#{question.id}"], class: "block shadow-sm rounded-lg border px-3 py-2 mt-2 w-full", required: question.required %>

          <% elsif question.question_type == "textarea" %>

            <% if @missing_required_questions&.include?(question) %>
              <div class="text-sm text-pink-500">Please provide an answer to this question</div>
            <% end %>

            <%= text_area_tag "question[#{question.id}]", @answers["#{question.id}"], class: "block shadow-sm rounded-lg border px-3 py-2 mt-2 w-full", required: question.required %>

          <% elsif question.question_type == "yesno" %>

            <% if @missing_required_questions&.include?(question) %>
              <div class="text-sm text-pink-500">Please select Yes or No</div>
            <% end %>

            <div class="px-2 py-1">
              <%= radio_button_tag "question[#{question.id}]", "yes", checked: (@answers["#{question.id}"] == "yes" || @answers["#{question.id}"].blank?), class: "accent-pink-500 mr-1", required: question.required %>
              <%= label_tag "question[#{question.id}][yes]", "Yes" %>
            </div>
            <div class="px-2 py-1">
              <%= radio_button_tag "question[#{question.id}]", "no", checked: (@answers["#{question.id}"] == "no"), class: "accent-pink-500 mr-1", required: question.required %>
              <%= label_tag "question[#{question.id}][no]", "No" %>
            </div>

          <% elsif question.question_type == "multiple-multiple" %>

            <% if @missing_required_questions&.include?(question) %>
              <div class="text-sm text-pink-500">Please select at least one option</div>
            <% else %>
              <div class="text-sm text-gray-500">Select all that apply</div>
            <% end %>

            <% question.question_options.each do |option| %>

              <div class="px-2 py-1">
                <%= check_box_tag "question[#{question.id}][#{option.text}]", option.text, @answers["#{question.id}"]&.include?(option.text),class: "accent-pink-500 mr-1" %>
                <%= label_tag "question[#{question.id}][#{option.text}]", option.text %>
              </div>
            <% end %>

          <% elsif question.question_type == "multiple-single" %>

              <% if @missing_required_questions&.include?(question) %>
                <div class="text-sm text-pink-500">Please select one option</div>
              <% else %>
                <div class="text-sm text-gray-500">Select one option</div>
              <% end %>

            <% question.question_options.each do |option| %>
              <div class="px-2 py-1">
                <%= radio_button_tag "question[#{question.id}]", option.text, @answers["#{question.id}"] == option.text, class: "accent-pink-500 mr-1" %>
                <%= label_tag "question[#{question.id}][#{option.text}]", option.text %>
              </div>
            <% end %>

        <% end %>

        </div>
      <% end %>
    <% end %>

    <div class="inline">
      <%= form.submit 'Update Answers', class: "w-full sm:w-auto rounded-lg px-3.5 py-2.5 bg-pink-500 hover:bg-pink-600 text-white inline-block font-medium cursor-pointer" %>
      <%= link_to 'Back', 'javascript:history.back()', class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-lg px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
    </div>
  <% end %>

</div>
