<% content_for :title, "Sign-ups" %>
<div class="w-full">
  <%= render partial: "shared/notice", locals: { notice: notice } %>
  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Auditions", manage_production_auditions_path(@production)]
    ],
    text: "Sign-ups",
    links: [
      {
        text: "Create a Sign-up",
        path: new_manage_production_call_to_audition_audition_request_path(@production, @call_to_audition)
      }
    ]
  } %>

  <div class="flex w-full space-x-2 mb-4">
    <div class="flex flex-1 space-x-1">
      <%= link_to "All",
              manage_production_call_to_audition_audition_requests_path(@production, @call_to_audition, filter: "all"),
              data: { turbo_prefetch: false },
              class: "px-3 py-1 rounded-md border text-sm #{(@filter == "all") ? 'bg-pink-500 text-white border-pink-500' : 'bg-white text-gray-700 border-gray-200'}"
      %>
      <%= link_to "Unreviewed",
              manage_production_call_to_audition_audition_requests_path(@production, @call_to_audition, filter: "unreviewed"),
              data: { turbo_prefetch: false },
              class: "px-3 py-1 rounded-md border text-sm #{(@filter == "unreviewed") ? 'bg-pink-500 text-white border-pink-500' : 'bg-white text-gray-700 border-gray-200'}"
      %>
      <%= link_to "Revisit",
              manage_production_call_to_audition_audition_requests_path(@production, @call_to_audition, filter: "undecided"),
              data: { turbo_prefetch: false },
              class: "px-3 py-1 rounded-md border text-sm #{(@filter == "undecided") ? 'bg-pink-500 text-white border-pink-500' : 'bg-white text-gray-700 border-gray-200'}"
      %>
      <%= link_to "Yes",
              manage_production_call_to_audition_audition_requests_path(@production, @call_to_audition, filter: "accepted"),
              data: { turbo_prefetch: false },
              class: "px-3 py-1 rounded-md border text-sm #{(@filter == "accepted") ? 'bg-pink-500 text-white border-pink-500' : 'bg-white text-gray-700 border-gray-200'}"
      %>
      <%= link_to "No",
              manage_production_call_to_audition_audition_requests_path(@production, @call_to_audition, filter: "passed"),
              data: { turbo_prefetch: false },
              class: "px-3 py-1 rounded-md border text-sm #{(@filter == "passed") ? 'bg-pink-500 text-white border-pink-500' : 'bg-white text-gray-700 border-gray-200'}"
      %>
    </div>
  </div>

  <div class="grid grid-cols-1 gap-2 mb-4">
    <% if @audition_requests.any? %>
      <% @audition_requests.each do |audition_request| %>
        <div class="flex flex-col lg:flex-row w-full p-4 border border-gray-200 rounded-lg hover:border-gray-400 transition-all lg:items-center gap-4">

          <%= link_to manage_production_call_to_audition_audition_request_path(@production, @call_to_audition, audition_request), class: "flex items-center gap-4", data: { turbo_prefetch: false } do %>
            <div class="flex items-center gap-4">
              <div class="flex-shrink-0">
                <% if audition_request.person.headshot.attached? %>
                  <%= image_tag url_for(audition_request.person.headshot.variant(:thumb)), class: "relative inline-block h-12 w-12 !rounded-lg object-cover object-center" %>
                <% else %>
                  <div class="w-12 h-12 rounded-lg bg-gray-100 flex items-center justify-center text-black font-bold">
                    <%= audition_request.person.initials %>
                  </div>
                <% end %>
              </div>
              <div class="font-medium text-xl">
                <%= truncate(audition_request.person.name, length: 50, omission: "...") %>
              </div>
            </div>
          <% end %>

          <% if Current.user.manager? %>
            <div class="grid grid-cols-4 gap-0 items-center lg:ml-auto w-full lg:w-auto">
              <%
                [:unreviewed, :undecided, :accepted, :passed].each do |status|
                  classes = "text-xs lg:text-sm px-2 py-1.5 lg:px-3 lg:py-2 text-center border border-gray-200 text-nowrap"

                  # Set the borders based on position in the list of statuses
                  if status == :unreviewed
                    classes += " rounded-l-lg"
                  elsif status == :undecided
                    classes += " border-l-0"
                  elsif status == :accepted
                    classes += " border-l-0"
                  elsif status == :passed
                    classes += " rounded-r-lg"
                  end

                  # Set the background color based on status
                  if audition_request.status == status.to_s
                    classes += " bg-pink-500 hover:bg-pink-600 text-white"
                  end
              %>
                <%= link_to manage_signup_status_name(status), set_status_manage_production_call_to_audition_audition_request_path(@production, @call_to_audition, audition_request, status: status), class: classes, data: { turbo_method: :post } %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>

    <p class="text-gray-500 text-sm pt-2">
      <% if @filter.blank? || @filter == "all" %>
        No one has signed up for an audition yet.
      <% elsif @filter == "unreviewed" %>
        You have no unreviewed sign-ups
      <% elsif @filter == "undecided" %>
        You have no undecided sign-ups
      <% elsif @filter == "accepted" %>
        You haven't marked any sign-ups as a "yes"
      <% elsif @filter == "passed" %>
        You haven't marked any sign-ups as a "no"
      <% end %>
    </p>
  <% end %>
</div>
