<%#
  Recipient Display Component

  Renders the recipients section with headshots for a message

  Required:
    message: The message object
    recipient_count: Number of recipients
%>

<% if recipient_count == 1 %>
  <% recipient = message.recipient_people.first %>
  <% if recipient %>
    <span>To</span>
    <% headshot_variant = recipient.safe_headshot_variant(:thumb) %>
    <span data-controller="tooltip" data-tooltip-text-value="<%= recipient.name %>" class="relative">
      <% if headshot_variant %>
        <%= image_tag rails_storage_proxy_url(headshot_variant),
            alt: recipient.name,
            class: "w-6 h-6 rounded-lg object-cover ring-2 ring-white" %>
      <% else %>
        <div class="w-6 h-6 rounded-lg bg-gray-200 flex items-center justify-center text-gray-600 font-bold text-[10px] ring-2 ring-white">
          <%= recipient.initials %>
        </div>
      <% end %>
    </span>
    <span class="font-medium text-gray-700"><%= recipient.name %></span>
  <% end %>
<% elsif recipient_count > 1 %>
  <span>To <%= recipient_count %> people</span>
  <%# Stacked recipient headshots %>
  <div class="flex items-center -space-x-1.5 ml-1">
    <% message.recipient_people.limit(6).each do |person| %>
      <% headshot_variant = person.safe_headshot_variant(:thumb) %>
      <span data-controller="tooltip" data-tooltip-text-value="<%= person.name %>" class="relative">
        <% if headshot_variant %>
          <%= image_tag rails_storage_proxy_url(headshot_variant),
              alt: person.name,
              class: "w-6 h-6 rounded-lg object-cover ring-2 ring-white relative z-10 hover:z-20 hover:scale-110 transition-transform cursor-default" %>
        <% else %>
          <div class="w-6 h-6 rounded-lg bg-gray-200 flex items-center justify-center text-gray-600 font-bold text-[10px] ring-2 ring-white relative z-10 hover:z-20 hover:scale-110 transition-transform cursor-default">
            <%= person.initials %>
          </div>
        <% end %>
      </span>
    <% end %>
    <% if recipient_count > 6 %>
      <span data-controller="tooltip" data-tooltip-text-value="<%= recipient_count - 6 %> more" class="relative">
        <div class="w-6 h-6 rounded-lg bg-pink-100 flex items-center justify-center text-pink-600 font-bold text-[10px] ring-2 ring-white relative z-10">
          +<%= recipient_count - 6 %>
        </div>
      </span>
    <% end %>
  </div>
<% end %>
