
<nav class="hidden w-56 bg-white border-r border-r-2 border-gray-200 lg:flex flex-col transition-all duration-200 ease-in-out z-20 justify-between fixed left-0 top-16 h-[calc(100vh-4rem)]">
  <div class="flex-1 overflow-y-auto">

    <% if session[:impersonate_user_id] %>
      <% impersonated = User.find_by(id: session[:impersonate_user_id]) %>
      <% if impersonated %>
        <div class="w-full bg-pink-200 p-4 text-left text-sm">
          <div>Impersonating:</div>
          <div class="font-bold truncate"><%= impersonated.email_address %></div>
          <div>
            <%= button_to "Stop Impersonating", stop_impersonating_user_path, method: :post, class: "mt-2 px-3 py-1 rounded-lg bg-pink-500 text-white font-bold hover:bg-pink-600 cursor-pointer text-left" %>
          </div>
        </div>
      <% end %>
    <% end %>

    <div class="mt-2">

      <% if Current.production.present? && !Current.production.new_record? %>

        <%
        links = [
          {"Shows & Events" => manage_production_shows_path(Current.production)},
          {"Availability" => manage_production_availability_index_path(Current.production)},
          {"Cast" => manage_production_casts_path(Current.production)},
          {"Roles" => manage_production_roles_path(Current.production)},
          {"Auditions" => manage_production_auditions_path(Current.production)},
          {"Visual Assets" => manage_production_visual_assets_path(Current.production)}
        ]
        %>

        <% links.each do |item| %>
          <%= link_to item.keys.first, item.values.first, class: "coustard-regular flex items-center gap-3 px-4 py-2 hover:bg-pink-500 hover:text-white transition-all font-medium" %>
        <% end %>

      <% end %>

      <%= link_to "Directory", manage_people_path, class: "coustard-regular flex items-center gap-3 px-4 py-2 hover:bg-pink-500 hover:text-white transition-all font-medium" %>
      <%= link_to "Production Team", manage_team_index_path, class: "coustard-regular flex items-center gap-3 px-4 py-2 hover:bg-pink-500 hover:text-white transition-all font-medium" %>
      <%= link_to "Locations", manage_locations_path, class: "coustard-regular flex items-center gap-3 px-4 py-2 hover:bg-pink-500 hover:text-white transition-all font-medium" %>
    </div>

  </div>

  <!-- Bottom section -->
  <div class="flex justify-center pb-0">
    <%= image_tag "cocoscout.png", alt: "CocoScout Logo", class: "w-32" %>
  </div>

</nav>