<nav class="hidden w-56 bg-white border-r border-r-2 border-gray-200 lg:flex flex-col transition-all duration-200 ease-in-out z-20 fixed left-0 top-16 h-[calc(100vh-4rem)] justify-between">
  <div class="flex-1 overflow-y-auto">

    <div class="mt-2">
      <%= render "shared/nav_link", text: "Home", path: my_dashboard_path, active: controller_name == "dashboard" %>
      <% if Current.user.superadmin? %>
        <%= render "shared/nav_link", text: "My Messages", path: my_messages_path, active: controller_name == "messages", badge: "beta" %>
      <% end %>
      <%= render "shared/nav_link", text: "My Shows & Events", path: my_shows_path, active: controller_name == "shows" %>
      <%= render "shared/nav_link", text: "My Availability", path: my_availability_path, active: controller_name == "availability" %>
      <%= render "shared/nav_link", text: "My Auditions", path: my_auditions_path, active: controller_name == "auditions" %>
      <%= render "shared/nav_link", text: "My Sign-ups", path: my_sign_ups_path, active: controller_name == "sign_ups" && action_name == "index" %>
      <%= render "shared/nav_link", text: "My Questionnaires", path: my_questionnaires_path, active: controller_name == "questionnaires" %>
      <%= render "shared/nav_link", text: "My Shoutouts", path: my_shoutouts_path, active: controller_name == "shoutouts" %>
      <% if Current.user.superadmin? %>
        <%= render "shared/nav_link", text: "My Payments", path: my_payments_path, active: controller_name == "payments", badge: "beta" %>
      <% end %>
      <%= render "shared/nav_link", text: "My Productions", path: my_productions_path, active: controller_name == "productions" %>
    </div>

  </div>

  <!-- Bottom section -->
  <div class="flex justify-center">
    <%= render "shared/cocoscout_logo", size: :large %>
  </div>

</nav>