<div id="show-cast-members" data-controller="drag-cast-member">

    <% show.production.casts.each do |cast| %>

        <h1 class="font-bold text-lg mb-2"><%= cast.name %></h1>

        <div class="grid grid-cols-3 lg:grid-cols-4 gap-1 w-full mb-6">

        <% cast.people.each do |person| %>

            <% has_show_person_role_assignment = person.has_person_role_assignment_for_show?(show) %>

            <div class="flex flex-col items-center p-3 border border-gray-200 rounded-lg hover:border-gray-400 transition-all cursor-grab bg-[#f9f9f7]  <%= 'text-gray-300' if has_show_person_role_assignment %>"
                data-drag-cast-member-target="person"
                data-person-id="<%= person.id %>"
                draggable="true">

                <% headshot_variant = person.safe_headshot_variant(:thumb) %>
                <% if headshot_variant %>
                    <%= image_tag headshot_variant, alt: person.name, class: "w-12 h-12 rounded-lg object-cover mb-1 #{'opacity-40' if has_show_person_role_assignment}", draggable: false %>
                <% else %>
                    <div class="w-12 h-12 rounded-lg bg-gray-100 flex items-center justify-center mb-1 text-black font-bold">
                        <%= person.initials %>
                    </div>
                <% end %>

                <span class="font-medium text-xs text-center"><%= person.name.truncate(20, omission: '...') %></span>
            </div>
        <% end %>

        </div>

    <% end %>
</div>