<% content_for :title, "Edit Person" %>

<div class="w-full">

  <%= render partial: "shared/notice", locals: { notice: notice } %>

  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Directory", manage_directory_path],
      [@person.name, manage_person_path(@person)]
    ],
    text: "Edit Person",
    links: []
  } %>

  <div class="w-full max-w-4xl" >
    <%= form_with(model: [:manage, @person], class: "contents") do |person_form| %>
      <%= render "shared/person_form", person_form: person_form %>

      <div class="w-full border-t border-gray-200 pt-5 my-5">
        <%= person_form.submit "Update Person", class: "sm:w-auto rounded-lg px-3.5 py-2.5 text-white bg-pink-500 hover:bg-pink-600 inline-block font-medium cursor-pointer" %>
        <%= link_to "Back", 'javascript:history.back()', class: "sm:w-auto rounded-lg px-3.5 py-2.5 text-pink-500 bg-gray-200 hover:bg-pink-600 hover:text-white inline-block font-medium cursor-pointer" %>
      </div>

    <% end %>
  </div>

</div>
