<% content_for :title, "Add Person" %>

<div class="w-full">

  <%= render partial: "shared/notice", locals: { notice: notice } %>

  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Directory", manage_people_path]
    ],
    text: "Invite a Person",
    links: []
  } %>

  <div class="w-full max-w-4xl" >

    <div class="mb-5 text-gray-500 text-sm">
      Invite a person to join CocoScout. They will receive an email with a link to create their password and access the platform.
    </div>

    <%= form_with(model: [:manage, @person], class: "contents") do |person_form| %>

      <div>
        <div class="mb-5">
          <% if @user_exists_error %>
              <%= person_form.label :email, "A user with this email already exists", class: "text-pink-600" %>
          <% elsif @person.errors[:email].none? %>
              <%= person_form.label :email, "Email" %>
          <% else %>
              <%= person_form.label :email, "Email is required", class: "text-pink-600"  %>
          <% end %>
          <%= person_form.email_field :email, autocapitalize: "none", class: ["block shadow-sm rounded-lg border px-3 py-2 mt-2 w-full", {"border-gray-400": @person.errors[:email].none? && !@user_exists_error, "border-pink-500": @person.errors[:email].any? || @user_exists_error}] %>
        </div>

        <div class="mb-5">
          <% if @person.errors[:name].none? %>
              <%= person_form.label :name, "Name" %>
          <% else %>
              <%= person_form.label :name, "Name is required", class: "text-pink-600"  %>
          <% end %>
          <%= person_form.text_field :name, class: ["block shadow-sm rounded-lg border px-3 py-2 mt-2 w-full", {"border-gray-400": @person.errors[:name].none?, "border-pink-500": @person.errors[:name].any?}] %>
        </div>
      </div>

      <div class="w-full border-t border-gray-200 pt-5 my-5">
        <%= person_form.submit "Invite Person", class: "sm:w-auto rounded-lg px-3.5 py-2.5 text-white bg-pink-500 hover:bg-pink-600 focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 inline-block font-medium cursor-pointer inline-block" %>
        <%= link_to "Back", 'javascript:history.back()', class: "sm:w-auto rounded-lg px-3.5 py-2.5 text-pink-500 bg-gray-200 hover:bg-pink-600 hover:text-white focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 inline-block font-medium cursor-pointer" %>
      </div>

    <% end %>

  </div>

</div>
