<%= form_with(model: [:manage, location], class: "contents") do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul class="list-disc ml-6">
        <% location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :address1 %>
    <%= form.text_field :address1, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": location.errors[:address1].none?, "border-red-400 focus:outline-red-600": location.errors[:address1].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :address2 %>
    <%= form.text_field :address2, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": location.errors[:address2].none?, "border-red-400 focus:outline-red-600": location.errors[:address2].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :city %>
    <%= form.text_field :city, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": location.errors[:city].none?, "border-red-400 focus:outline-red-600": location.errors[:city].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :state %>
    <%= form.text_field :state, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": location.errors[:state].none?, "border-red-400 focus:outline-red-600": location.errors[:state].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": location.errors[:postal_code].none?, "border-red-400 focus:outline-red-600": location.errors[:postal_code].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
