<% content_for :title, "Locations" %>

<div class="w-full">

  <%= render partial: "shared/notice", locals: { notice: notice } %>

  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [],
    text: "Locations",
    links: [
       { text: "+ Add a Location", path: new_manage_location_path }
    ]
  } %>

   <% if @locations.any? %>

        <div class="grid grid-cols-1 gap-2 mt-2">
            <% @locations.each do |location| %>
                <div class="p-4 border border-gray-200 rounded-lg hover:border-gray-400 transition-all flex items-top">

                    <div class="flex-1">
                      <div class="font-bold text-xl"><%= location.name %></div>
                      <div><%= location.address1 %></div>
                      <% if location.address2.present? %>
                        <div><%= location.address2 %></div>
                      <% end %>
                      <div>
                        <%= location.city %>, <%= location.state %> <%= location.postal_code %>
                      </div>
                      <div>
                        <%= link_to "Edit Location", edit_manage_location_path(location), class: "text-pink-500 text-xs underline" %>
                      </div>
                      <div>
                        <%= link_to "Delete Location", manage_location_path(location), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this location?" }, class: "text-pink-500 text-xs underline" %>
                      </div>
                    </div>

                </div>
            <% end %>
        </div>
    <% else %>
        <p class="text-gray-500 text-sm pt-2">
          You haven't added any locations. <%= link_to "Add a Location", new_manage_location_path, class: "text-pink-500 hover:underline" %>
        </p>
    <% end %>





</div>
