<% content_for :title, "Auditions" %>

<div class="w-full">

  <%= render partial: "shared/notice", locals: { notice: notice } %>

  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [],
    text: "My Auditions",
    links: []
  } %>

  <%= render "shared/filters/filter_bar",
      toggle_label: "Filters",
      filter_groups: [
        {
          label: "View",
          filters: [
            {
              text: "Upcoming",
              path: my_auditions_path(auditions_filter: "upcoming", entity: @entity_filter.join(",")),
              active: @auditions_filter == "upcoming"
            },
            {
              text: "Past",
              path: my_auditions_path(auditions_filter: "past", entity: @entity_filter.join(",")),
              active: @auditions_filter == "past"
            }
          ]
        },
        { separator: true },
        {
          partial: "shared/filters/entity_filter",
          locals: {
            path_helper: method(:my_auditions_path),
            people: @people,
            groups: @groups,
            entity_filter: @entity_filter,
            label: "Include",
            auditions_filter: @auditions_filter
          }
        }
      ]
  %>

    <% if @auditions.any? %>

        <div class="grid grid-cols-1 gap-1 mt-2">
            <% @auditions.each do |audition| %>
                <% if audition.audition_session.start_at < Time.current %>
                    <%= render partial: "audition_past", locals: { audition: audition } %>
                <% else %>
                    <%= render partial: "audition_upcoming", locals: { audition: audition } %>
                <% end %>
            <% end %>
        </div>
    <% else %>
        <p class="text-gray-500 text-sm">

            <% if @auditions_filter == "all" %>
                You don't have any auditions
            <% elsif @auditions_filter == "upcoming" %>
                You don't have any upcoming auditions.
            <% elsif @auditions_filter == "past" %>
                You haven't had any auditions.
            <% end %>
        </p>
    <% end %>
</div>