<% content_for :title, "Auditions" %>

<div class="w-full">

  <%= render partial: "shared/notice", locals: { notice: notice } %>

  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [],
    text: "Auditions",
    links: []
  } %>

   <div class="flex w-full space-x-2">
        <div class="flex flex-1 space-x-2 mb-2">
            <!-- Left: Sorting links -->
            <%= link_to "Upcoming",
                    my_auditions_path(auditions_filter: "upcoming"),
                    data: { turbo_prefetch: false },
                    class: "px-3 py-1 rounded-md border text-sm #{(@auditions_filter == "upcoming") ? 'bg-pink-500 text-white border-pink-500' : 'bg-white text-gray-700 border-gray-200'}"
            %>
            <%= link_to "Past",
                    my_auditions_path(auditions_filter: "past"),
                    data: { turbo_prefetch: false },
                    class: "px-3 py-1 rounded-md border text-sm #{(@auditions_filter == "past") ? 'bg-pink-500 text-white border-pink-500' : 'bg-white text-gray-700 border-gray-200'}"
            %>
        </div>
    </div>

    <% if @auditions.any? %>

        <div class="grid grid-cols-1 gap-2 mt-2">
            <% @auditions.each do |audition| %>
                <% if audition.audition_session.start_at < Time.current %>
                    <%= render partial: "audition_past", locals: { audition: audition } %>
                <% else %>
                    <%= render partial: "audition_upcoming", locals: { audition: audition } %>
                <% end %>
            <% end %>
        </div>
    <% else %>
        <p class="text-gray-500 text-sm pt-2">

            <% if @auditions_filter == "all" %>
                You don't have any auditions
            <% elsif @auditions_filter == "upcoming" %>
                You don't have any upcoming auditions.
            <% elsif @auditions_filter == "past" %>
                You haven't had any auditions.
            <% end %>
        </p>
    <% end %>
</div>