<div class="w-full">

  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [],
    text: "Upcoming Shows",
    links: [
      {text: "My Shows", path: my_shows_path}
    ]
  } %>

  <div class="pb-10">
    <% if @productions.any? %>
      <%= link_to my_shows_path, class: "space-y-4" do %>
        <% @productions.each do |production| %>

          <div class="text-xs sm:text-sm">

            <div class="font-bold"><%= production.name %></div>

            <div class="text-xs sm:text-sm">
              <% next_show = Current.user.person.next_show_for_production(production) %>
              <% if next_show %>
                  The next show you're cast in is <span class="text-pink-500"><%= next_show.date_and_time.strftime('%A, %b %d, %Y') %></span> at <span class="text-pink-500"><%= next_show.date_and_time.strftime('%l:%M %p') %></span>
              <% else %>
                  You aren't cast in any upcoming shows
              <% end %>
            </div>

          </div>
        <% end %>
      <% end %>
    <% else %>
      <p class="text-gray-500 text-sm pt-2">
        You aren't cast in any upcoming shows.
      </p>
    <% end %>
  </div>

  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [],
    text: "Upcoming Auditions",
    links: [
      {text: "My Auditions", path: my_auditions_path}
    ]
  } %>

  <div class="pb-10">
    <% if @upcoming_audition_sessions.any? %>
      <%= link_to my_auditions_path, class: "space-y-4" do %>
        <% @upcoming_audition_sessions.each do |audition_session| %>

          <% production = audition_session.production %>

          <div class="text-xs sm:text-sm">
            <div class="font-bold"><%= production.name %></div>
            Your audition is scheduled for <span class="text-pink-500"><%= audition_session.start_at.strftime('%A, %b %d, %Y') %></span> at <span class="text-pink-500"><%= audition_session.start_at.strftime('%l:%M %p') %></span>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p class="text-gray-500 text-sm pt-2">
        You don't have any upcoming auditions.
      </p>
    <% end %>
  </div>

  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [],
    text: "Open Sign-ups",
    links: [
      {text: "My Sign-ups", path: my_audition_requests_path(requests_filter: :all)}
    ]
  } %>

  <div class="pb-10">
    <% if @open_audition_requests.any? %>
      <%= link_to my_audition_requests_path(requests_filter: :open), class: "space-y-4" do %>
        <% @open_audition_requests.each do |audition_request| %>

          <% production = audition_request.call_to_audition.production %>

          <div class="text-xs sm:text-sm" data-controller="countdown" data-countdown-until-value="<%= audition_request.call_to_audition.closes_at.utc.iso8601 %>">

            <div class="font-bold"><%= production.name %></div>

            <% if audition_request.call_to_audition.audition_type == "in_person" %>
                Audition Sign-ups
            <% elsif audition_request.call_to_audition.audition_type == "video_upload" %>
                Video Auditions
            <% end %>
            close

            <% if audition_request.call_to_audition.closes_at > 1.day.from_now %>
              on <span class="text-pink-500"><%= audition_request.call_to_audition.closes_at.strftime('%A, %b %d, %Y') %></span> at <span class="text-pink-500"><%= audition_request.call_to_audition.closes_at.strftime('%l:%M %p') %></span>
            <% else %>
              in <span data-countdown-target="clock" class="text-pink-500"></span>
            <% end %>

          </div>
        <% end %>
      <% end %>
    <% else %>
      <p class="text-gray-500 text-sm pt-2">
        None of the shows you've applied for are currently auditioning.
      </p>
    <% end %>
  </div>

</div>
