<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "CocoScout" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=5">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Coustard:wght@400;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-P198QVDCDH"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-P198QVDCDH');
  </script>

  <body class="inter-regular text-slate-700 bg-[#f9f9f7]">

  <div class="flex min-h-screen">

      <% if @show_manage_sidebar %>

        <%= render "shared/navigation/manage_header" %>
        <%= render "shared/navigation/manage_mobile" %>
        <%= render "shared/navigation/manage" %>
        <main class="flex-1 px-5 pt-16 lg:pt-20 lg:ml-56">

      <% elsif @show_my_sidebar %>

        <%= render "shared/navigation/my_header" %>
        <%= render "shared/navigation/my_mobile" %>
        <%= render "shared/navigation/my" %>
        <main class="flex-1 px-5 pt-16 lg:pt-20 lg:ml-56">

      <% else %>

        <main class="flex-1 px-5 mt-5">

      <% end %>

        <%= yield %>
      </main>
    </div>
  </body>
</html>
